BODY{text-align:center;margin-left:auto;margin-right:auto;}
IMG{border-width:0px;}
.p0{text-align:left;	border:1px solid #0080FF;	width:70%;margin-left:auto;margin-right:auto;}
.p1{padding:5px;	border-bottom:1px solid #0080FF;text-align:center;}
.p2{padding:10px;	border-right:1px solid #0080FF;	width:70%;height:100%;float:left;}
.p3{padding:10px;					width:100%;}
.d1{padding:5px;	border:1px solid #0080FF;font-weight:bold;background-color:#AAD5FF;}
.d2{padding:5px;	border-width:0px 1px 1px 1px;border-style:solid;border-color:#0080FF;margin-bottom:10px;}
