/* ------------------------------------------------------------------------------------ */
/* デザイン設定は、このファイルで全て行えます						*/
/* 基本的に、色設定は#369(=#336699)のようになっている部分を書き換えればOK		*/
/* 左寄せ、中央寄せについては、leftやcenterを書き換えればOK				*/
/* それ以外の細かい記述については…スタイルシートの解説ページを参照してください(汗;	*/
/* ------------------------------------------------------------------------------------ */

/* フォントサイズと行間の設定 */
body,tr,td,th		{font-size:10pt;}
big			{font-size:11pt}
small			{font-size:9pt}

body,table		{font-size:10pt;}
form			{margin:0px;}
hr			{height:1px;}
a			{text-decoration:none;}
a:hover			{text-decoration:underline overline;}

/* 各種フォームの設定 */
input,textarea,select	{color:#000000;background-color:#FFFFFF;border:1 solid #0080FF;}

/* タイトルの設定（色,サイズ,太字にするか,フォント） */
.title			{color:#AAD5FF;font-size:15pt;font-weight:bold;}
.count			{color:#AAD5FF;}

/* 投稿フォームの設定 */
.table2			{background-color:#FFFFFF;}
.pre			{background-color:#FFFFFF;}

/* トップページ以外の最上部。バーになっている部分の背景色 */
.bar			{background-color:#FFFFFF;}

/* 記事表示部分の設定 */
.table1			{background-color:#FFFFFF;}		/* 記事を囲むテーブルの書式 */
.name			{color:#000000;}			/* 投稿者名の色 */
.sub			{font-size:10pt;}			/* 記事タイトルのサイズ */
.b1			{background-color:#AAD5FF;}		/* 親記事のタイトル・投稿者等を表示する部分の背景色 */
.b2			{background-color:#AAD5FF;}		/* レス記事のタイトル・投稿者等を表示する部分の背景色 */
.new			{color:#ff66bb;font-weight:bold;}	/* New!マークの色 */
.no			{color:#000000;}			/* 記事番号表示の設定 */
.quote			{color:#000099;}			/* 引用された行（>や＞で始まる行）の色 */
.id			{color:#FFCC40;font-size:10pt;}		/* ID表示の色および文字サイズ */
.rank			{color:#000000;font-size:10pt;}		/* 『Rank:○回』の部分 */
.rank2			{color:#000000;font-size:10pt;}		/* クラスを表示する部分 */
.foot			{color:#000000;font-size:10px;}		/* 削除・修正フォームの説明 */
.tag			{color:#000000;font-size:10px;}		/* 利用可能タグの説明 */

/* ツリー式表示ページの設定 */
.tname			{color:#000000;font-weight:bold;}	/* 名前部分 */
.tno			{color:#000000;}			/* 番号部分 */

/* ランク表示・および親記事一覧表示ページの設定 */
.tr1			{background-color:#AAD5FF;}		/* テーブル見出し部分の文字色、背景色、太字にするかどうか、文字寄せ */
.tr2			{background-color:#FFFFFF;}		/* テーブル本体部分の文字色、文字寄せ */
.mail			{text-align:right;font-weight:bold;}	/* メール送信フォームでの見出し（[名前]など）設定（文字寄せ,文字色,背景色,） */
