/*┌──────────────────────┐*/
/*｜▼各クラスの役割説明			｜*/
/*｜　a		外の枠線			｜*/
/*｜　b		中の枠線			｜*/
/*｜　c		タイトルとその下の赤い線	｜*/
/*｜　d		本文の文字間と行間		｜*/
/*｜　e		更新日とその上の赤い線		｜*/
/*｜　q1	文字を赤く太くする		｜*/
/*｜　q2	文字を黄色く太くする		｜*/
/*｜　q3	文字を白くする			｜*/
/*｜　BODY	ページ全体を真ん中にする為の指定｜*/
/*｜　TABLE	表の行間等			｜*/
/*└──────────────────────┘*/

.a	{
	width		:60%;
	border-width	:3px;
	border-style	:solid;
	border-color	:#F90 #F30 #F30 #F90;
	text-align	:left;
	margin-top	:30px;
	}
.b	{
	border-width	:3px;
	border-style	:solid;
	border-color	:#F30 #F90 #F90 #F30;
	padding		:10px;
	}
.c	{
	font-size	:20pt;
	color		:#FF4400;
	text-align	:center;
	border-bottom	:2px solid #F00;
	padding-bottom	:10px;
	margin-bottom	:10px;
	}
.d	{
	line-height	:130%;
	letter-spacing	:2pt;
	}
.e	{
	text-align	:right;
	line-height	:130%;
	letter-spacing	:2pt;
	border-top	:2px solid #F00;
	padding-top	:10px;
	margin-top	:10px;
	}

.q1	{
	color		:#F00;
	font-weight	:bold;
	}
.q2	{
	color		:#F90;
	font-weight	:bold;
	}
.q3	{
	color		:#FFF;
	}


BODY	{
	text-align	:center;
	line-height	:130%;
	letter-spacing	:2pt;
	}
TABLE	{
	line-height	:130%;
	letter-spacing	:2pt;
	}
