@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Time Leap Blue            */
/*                                     */
/* =================================== */


/* ◆ Blue Style =========================================================== */


body {
	background-image:url("style_080909_bg_b.png");
	}



a:link,
a:visited {
	color:#14a;
	}


a:hover,
a:active {
	color:#333;
	}


abbr,
dfn {
	border-bottom-color:#14a;
	}


table td {
	border-color:#14a;
	}


table th {
	border-color:#14a;
	background-color:#99f;
	}


#wrapper #site a:hover {
	background-image:url("style_080909_site_b.png");
	}


body.home #wrapper #menu ul li.home a,
body.about #wrapper #menu ul li.about a,
body.web #wrapper #menu ul li.web a,
body.games #wrapper #menu ul li.games a,
body.gallery #wrapper #menu ul li.gallery a,
body.etc #wrapper #menu ul li.etc a,
#wrapper #menu ul li a:hover {
	background-color:#39e;
	}


#wrapper #header h1 {
	color:#f08;
	}


#wrapper #body .section2 h2 {
	color:#14a;
	}


#wrapper #body .section2 .section3 h3 {
	color:#f80;
	}


/* ↑ Blue Style end -------------------------------------------------------- */
