@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Time Leap                 */
/*                                     */
/* =================================== */


/* ◆ Memo ==================================================================


margin : top right bottom left [margin]
padding : top right bottom left [padding]
border : top right bottom left [border]
display
position -> top right bottom left
float
clear
width -> min max
height -> min max
line-height
vertical-align
overflow
list-style : type image position [list-style]
color
background : color image repeat attachment position [background]
font : family style variant weight stretch size size-adjust [font]
text-align
text-decoration
cursor


backgorund : color image repeat attachment position ;
font : (style variant weight) size/line-height family ;
LoVe HA? : link visited hover active


#wrapper
 #xreaad
  a
   img
 #site 
  a
   span
 #menu
  ul
   li.●
   li.● active
    a
 #topicpath
  p
   a
   span.active
 #header
  h1
 #body
  .section2
   h2
   .section3
    h3
 #footer
  p.navi
   a
  p.datetime
  ul 
   li
    a
     img
  address


／＊ ◆ ？ ======= ＊／←80桁
2行
？ ｛
	｝
／＊ ↑ ？ end --- ＊／←80桁
5行
／＊ ◆ ？ ======= ＊／←80桁


Color	　　 ↓Gradation 70%
・Pink	#e39	#a04
・Green	#9e3	#4a0
・Blue	#39e	#04a
・Yellow#f80	#a40
・Ash	#aaa	#333


   ↑ Memo end -------------------------------------------------------------- */





/* ◆ Global ================================================================ */


* {
	margin:0;
	padding:0;
	background:transparent;
	font:100%/1.5 "Verdana",sans-serif;
	text-decoration:none;
	}


/* 色々なブラウザでスクロールバーを常に表示させる */
html {
	margin-bottom:1px;
	height:100%;
	}


body {
	color:#000;
	background:#fff url("style_080909_bg.png") top center repeat-x;
	}


a:link,
a:visited {
	color:#333;
	font-weight:bold;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#999;
	font-weight:bold;
	text-decoration:underline;
	}


abbr,
dfn {
	border-bottom:1px dashed #333;
	font-weight:bold;
	cursor:help;
	}


abbr[title]:after,
dfn[title]:after {
	content:"";
	}


abbr[title]:hover:after,
dfn[title]:hover:after {
	content:" (" attr(title) ")";
	}


code,
kbd,
samp,
var {
	font-family:monospace;
	}


pre,
.scroll {
	padding:10px;
	border:1px solid #bbb;
	width:95%;
	height:150px;
	overflow:scroll;
	font-family:monospace;
	}


del {
	text-decoration:line-through;
	}


ins {
	text-decoration:underline;
	}


img {
	margin:0 !important;
	border:0;
	vertical-align:bottom;
	}


em {
	font-weight:bold;
	}


strong {
	color:#f00;
	font-weight:bold;
	}


table caption {
	padding-bottom:4px;
	font-weight:bold;
	text-align:center;
	}


table td {
	padding:4px;
	border:1px solid #333;
	}


table th {
	padding:4px;
	border:1px solid #333;
	background-color:#ccc;
	font-weight:bold;
	text-align:center;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	margin:0 0 0 40px;
	width:720px;
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Xrea Ad ==================================================== */


#wrapper #xreaad {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60px;
	text-align:right;
	}


#wrapper #xreaad a {
	}


#wrapper #xreaad a img {
	}


/* ↑ Wrapper → Xrea Ad end ------------------------------------------------ */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	width:720px;
	height:180px;
	}


#wrapper #site a {
	display:block;
	width:720px;
	height:180px;
	background:#000 url("style_080909_site.png") top left no-repeat;
	}


#wrapper #site a:hover {
	background-image:url("style_080909_site.png");
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Menu ======================================================= */


#wrapper #menu {
	float:right;
	}


#wrapper #menu ul {
	list-style:none;
	}


#wrapper #menu ul li {
	margin:0 0 0 10px;
	float:left;
	width:95px;
	}


#wrapper #menu ul li a {
	display:block;
	width:95px;
	height:35px;
	line-height:35px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	}


body.home #wrapper #menu ul li.home a,
body.about #wrapper #menu ul li.about a,
body.web #wrapper #menu ul li.web a,
body.games #wrapper #menu ul li.games a,
body.gallery #wrapper #menu ul li.gallery a,
body.etc #wrapper #menu ul li.etc a,
#wrapper #menu ul li a:hover {
	color:#111;
	background-color:#aaa;
	}


body.home #wrapper #menu ul li.home a:hover,
body.about #wrapper #menu ul li.about a:hover,
body.web #wrapper #menu ul li.web a:hover,
body.games #wrapper #menu ul li.games a:hover,
body.gallery #wrapper #menu ul li.gallery a:hover,
body.etc #wrapper #menu ul li.etc a:hover {
	color:#fff;
	}


/* ↑ Wrapper → Menu end --------------------------------------------------- */





/* ◆ Wrapper → Topic Path ================================================= */


#wrapper #topicpath {
	clear:both;
	width:720px;
	}


#wrapper #topicpath p {
	padding:12px 0 8px;
	}


#wrapper #topicpath p,
#wrapper #topicpath p a,
#wrapper #topicpath p span.active {
	color:#111;
	font-weight:bold;
	text-decoration:none;
	}


#wrapper #topicpath p a:hover {
	text-decoration:underline;
	}


/* ↑ Wrapper → Topic Path end --------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	margin:20px 0 30px;
	}


#wrapper #header h1 {
	padding-bottom:7px;
	border-bottom:1px solid #aaa;
	color:#f08;
	font-weight:bold;
	font-size:150%;
	}

#wrapper #header * {
	margin-bottom:30px;
	}


#wrapper #header * * {
	margin-bottom:0;
	}


/* List */


#wrapper #header dl dt {
	padding-bottom:5px;
	font-weight:bold;
	}


#wrapper #header dl dt * {
	font-weight:bold;
	}


#wrapper #header li,
#wrapper #header dl dd {
	margin-left:25px;
	}


#wrapper #header dl dd * {
	margin-bottom:30px !important;
	}


#wrapper #header dl dd * * {
	margin-bottom:0 !important;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	}


/* Section 2 */


#wrapper #body .section2 {
	padding:25px 0 0;
	background:#fff url("style_080909_section2.png") top center repeat-x;
	}

#wrapper #body .section2 h2 {
	color:#000;
	font-weight:bold;
	font-size:130%;
	}


#wrapper #body .section2 * {
	margin-bottom:30px;
	}


#wrapper #body .section2 * * {
	margin-bottom:0;
	}


/* Section 3 */


#wrapper #body .section2 .section3 {
	}


#wrapper #body .section2 .section3 h3 {
	color:#000;
	font-weight:bold;
	font-size:110%;
	}


#wrapper #body .section2 .section3 * {
	margin-bottom:30px;
	}


#wrapper #body .section2 .section3 * * {
	margin-bottom:0;
	}


/* List */


#wrapper #body dl dt {
	padding-bottom:5px;
	font-weight:bold;
	}


#wrapper #body dl dt * {
	font-weight:bold;
	}


#wrapper #body li,
#wrapper #body dl dd {
	margin-left:25px;
	}


#wrapper #body dl dd * {
	margin-bottom:30px !important;
	}


#wrapper #body dl dd * * {
	margin-bottom:0 !important;
	}


#wrapper #body dl dd dl dd * {
	margin-bottom:30px !important;
	}


#wrapper #body dl dd dl dd * * {
	margin-bottom:0 !important;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	padding-top:3px;
	border-top:1px solid #aaa;
	position:relative;
	text-align:right;
	}


#wrapper #footer p.navi {
	}


#wrapper #footer p.datetime {
	}


#wrapper #footer ul {
	position:absolute;
	top:2px;
	left:0;
	list-style:none;
	}


#wrapper #footer ul li {
	display:inline;
	}


#wrapper #footer address {
	padding:20px 0 40px;
	text-align:center;
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */





/* ◆ Etc =================================================================== */
/* ↑ Etc end --------------------------------------------------------------- */
