@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* === Neo's World スタイルシート。 ===
 *
 * Author:Neo
 * E-Mail:neo@s21.xrea.com
 * Web   :Neo's World
 * URL   :http://neo.s21.xrea.com/
 * LastUp:2005-07-05
 *
 * style.cssにimportさせ、古いブラウザにスタイルを認識させない。
 * 的なメモ書きしまくってます。
 *
 */


/* === 早速。適当に決めた、書くプロパティ順番。 ===
   01. Display
   02. Position :: Position -> Top -> Left
   03. Float :: Float -> Clear
   04. Side :: Margin -> Padding
   05. Box :: Width -> Height
   06. Color
   07. Font :: Size -> Weight -> Style -> Family
   08. Text :: Align -> Decoration -> Indent
   09. Line :: Height -> Break
   10. Background :: Image -> Position.Repeat.attachment -> Color
   11. Border :: Top -> Right -> Bottom -> Left
   12. Etc
 */


/* === まずはデフォルトスタイルを消す。 === */

* {
	margin:0;
	padding:0;
	color:#121;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	line-height:1.45;
	background:transparent;
	box-sizing:border-box;
	/* WidthとHeightの計算方法の指定。枠線までの幅で計算させる。 */
	}


/* === ブロック要素から行こう。 === */

body {
	width:100%;
	height:100%;
	background:url("css_screen_img_left.png") top left repeat-y;
	}


/* === 見出しシリーズ === */

h1 {
	font-size:190%;
	}

h2, h3, h4, h5, h6 {
	color:#037;
	font-size:105%;
	font-weight:bold;
	font-family:"Verdana","Arial","Impact",sans-serif;
	}

h1, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
	color:#037;
	font-weight:bold;
	font-family:"Verdana","Arial","Impact",sans-serif;
	}


/* === テーブル系 === */

table {
	border:1px solid #06c;
	border-collapse:collapse;
	/* WinIEはtrにborderが描けない */
	}

table caption {
	font-weight:bold;
	text-align:center;
	caption-side:top;
	}

table td,
table th {
	padding:3px 5px;
	border:1px solid #06c;
	vertical-align:top;
	}

table th {
	font-weight:bold;
	text-align:center;
	background:#eff;
	}


/* === その他 === */

pre {
	font-family:monospace;
	}

blockquote {
	padding:15px 20px;
	background:#efe;
	border:1px solid #0c0;
	}

ul li {
	list-style:square;
	margin:0 0 0 25px !important;
	}

dd {
	margin:0 0 0 25px !important;
	}

dt {
	margin-bottom:0 !important;
	}

dt, dt * {
	font-weight:bold;
	}


/* === インライン要素 === */


/* === リンク。順番は「LoVe HA?」で覚えよう。 === */

a:link {
	color:#00f;
	}

a:hover, a:active {
	color:#f00;
	text-decoration:underline;
	}

a:visited {
	color:#90f;
	text-decoration:underline;
	}


/* === 強調系 === */

em {
	color:#060;
	font-weight:bold;
	}

strong {
	color:#f00;
	font-weight:bold;
	}

em strong {
	color:#f60;
	}

strong em {
	color:#06c;
	}


/* === その他インライン === */

abbr, acronym, dfn {
	font-weight:bold;
	border-bottom:1px dashed #121;
	cursor:help;
	}

q {
	color:#060;
	border-bottom:1px dashed #060;
	}

cite {
	color:#06c;
	border-bottom:1px dashed #06c;
	}

cite:before {
	content:"出典:";
	/* 対応して無いブラウザは知らないっ! */
	}

code {
	color:#f00;
	border-bottom:1px dashed #f00;
	}


/* === 画像。vertical-alignはバグ対策らしい。 === */

img {
	border:0;
	vertical-align:bottom;
	}


/* === さぁてここからIDだらけですよぉ～w === */

#wrapper {
	height:100%;
	margin:0 0 0 40px;
	padding:0 40px 0 0;
	background:url("css_screen_img_right.png") top right repeat-y;  /* 保管庫注釈 : 画像ファイルはサルベージできなかったため css_screen_img_left.png を左右反転させて用意した */
	}


/* === 広告をCenterに持って来る === */

#ad {
	height:60px;
	text-align:right;
	border-top:1px solid #888;
	background:#fff;
	}

#ad a img {
	width:468px;
	height:60px;
	}


/* === サイト名の所 === */

#site {
	position:absolute;
	top:0;
	left:65px;
	height:60px;
	overflow:hidden;
	}

#site a {
	display:block;
	color:#c11;
	font-size:200%;
	font-weight:bold;
	font-family:"Verdana","Arial","Impact",sans-serif;
	text-decoration:none;
	}

#site a:hover {
	color:#911;
	}


/* === 大まかなナビゲーション。 === */

#navi {
	clear:both;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
	padding:5px 25px;
	background:#fff;
	}

#navi ul li {
	display:inline;
	margin:0 !important;
	list-style:none;
	}

#navi ul li a {
	padding:0 8px;
	font-weight:bold;
	border-right:1px solid #121;
	}

#navi ul li.index a {
	padding:0 8px 0 0;
	}

body.index #navi ul li.index a,
body.pokemon #navi ul li.pokemon a,
body.mario #navi ul li.mario a,
body.web #navi ul li.web a,
body.forum #navi ul li.forum a,
#navi ul li a:hover {
	text-decoration:underline;
	/* Activeなメニューには下線を引かせる為、Bodyと#naviで同じクラス名を持たせてオラオラ。 */
	}

/* === へっだーって言うかh1要素しか入って無いけど === */

#header {
	padding:10px 25px;
	background:#fff;
	border-bottom:1px solid #888;
	}


/* === セクションシリーズ === */

.sec2 *,
.sec2 dd,
.sec2 dd *,
.sec2 blockquote *,
.sec2 div * {
	margin:15px 0;
	}

.sec2 * * {
	margin:0;
	}


/* === そういや依存度目茶目茶高いスタイルだなぁ… === */

#body {
	float:left;
	clear:left;
	margin:0 -310px 0 0;
	width:100%;
	/* Negative Marginの為、floatしてmarginに負の数入れてる。 */
	}

#body #description h2 {
	display:none;
	}

#body .sec2 {
	margin:15px 315px 15px 25px;
	/* Negative Marginの為、内側に正の数を入れる。余白は左25px、右20pxとなった。 */
	}


/* === 右側のメニュー。サイドバー。 === */

#menu {
	float:right;
	clear:right;
	width:290px;
	/* Negative Marginの説明。すぐ忘れるから。
	可変レイアウトでもカラム表示させる為のテクニック。
	marginに負の数が入ってるからNegative Margin。
	このレイアウトだと、#bodyを左に置き可変にしたい。
	#bodyにはfloatとclearをleft、そして右側のBoxの幅
	と同じ(余白を取るならそれ以上)数の負のmarginを入れる。
	このままだと#bodyの中身が右側に来る#sideに被る為、
	#body内の要素に、#bodyで指定したmarginと同じ数を
	正の数で入れる(#bodyが-100pxなら100px)。
	#menuにはfloatとclearをright、そしてwidthを書く。 */
	}

#menu .sec2 {
	display:none;
	/* BodyのIDによって、表示するメニューを変えたいから
	一旦全部非表示にする。 */
	}

body.index #menu .index,
body.pokemon #menu .pokemon,
body.mario #menu .mario,
body.web #menu .web,
body.forum #menu .forum {
	display:block;
	/* Bodyと.sec2で同じクラスを使って特定の.sec2を表示させる。 */
	}


/* === ふったー。 === */

#footer {
	clear:both;
	padding:0 25px;
	background:url("css_screen_img_renew.png") bottom right no-repeat #fff;
	/*一時期限定で背景画像にリニューアル記念画像を挿入中 25.10.05 */
	border-top:1px solid #888;
	}


/* === ふったーのページ情報。 === */

#footer #footerdata ul li {
	margin-left:20px;
	}

#footer #footerdata ul li ol {
	display:inline;
	}

#footer #footerdata ul li ol li {
	display:inline;
	list-style:none;
	margin:0 !important;
	padding:0 0 0 15px;
	background:url("css_screen_img_list.png") left center no-repeat;
	/* li要素の左側にpaddingを設け、そこに背景画像として「>」を表示させてる。 */
	}

#footer #footerdata ul li ol li.index {
	padding:0;
	background:none;
	/* 最初のliには「>」が要らない為、こうした。 */
	}


/* === ふったーのカウンタ === */

#footer #footercount h2 {
	display:none;
	}

#footer #footercount ul {
	margin:0;
	}

#footer #footercount ul li {
	display:inline;
	margin:0 !important;
	list-style:none;
	}


/* === 他色々。 === */

div.note {
	padding:15px 20px;
	background:#eef;
	border:1px solid #00c;
	}

div.note:before {
	display:block;
	content:"Note:";
	}

span.note {
	color:#006;
	border-bottom:1px dashed #00c;
	}

span.memo {
	color:#454;
	}

.sample {
	/* 「これはサンプルです」と言う時に使用。間違っては居ないけど、「正しい!」と主張する必要が無いサンプルにはこれ。 */
	padding:15px 20px;
	background:#ffe;
	border:1px solid #cc0;
	}

.sample:before {
	display:block;
	content:"サンプル:";
	}

.osample {
	/* 「これが正しいサンプルだ!」と言う時に使用 */
	/* ◆HTMLでは「sample」になってるから後で必ず直せ◆ */
	padding:15px 20px;
	background:#eff;
	border:1px solid #0cc;
	}

.osample:before {
	display:block;
	content:"正しいサンプル:";
	}

.xsample {
	/* 「これは間違ったサンプルだ!真似するな!」と言う時に使用 */
	/* ◆HTMLでは「mistakesample」になってるから後で必ず直せ◆ */
	padding:15px 20px;
	background:#fee;
	border:1px solid #c00;
	}

.xsample:before {
	display:block;
	content:"間違ったサンプル:";
	}

.sample code,
.osample code,
.xsample code {
	color:#121;
	border:0;
	}

#body .sec1 .floatlist li {
	display:inline;
	margin:0 3px !important;
	list-style:none;
	border-right:1px solid #121;
	}

.history {
	height:100px;
	overflow:scroll;
	}

.linkeachother {
	list-style:circle;
	}

.linkofficial {
	list-style:square;
	}

.linkgeneral {
	list-style:disc;
	}

.atten1	{
	font-weight:bold;
	font-size:large;
	}

.atten2 {
	font-weight:bold;
	font-size:x-large;
	}

.atten3	{
	font-weight:bold;
	font-size:xx-large;
	}

.hidden {
	display:hidden;
	}

.floatlist li {
	display:inline;
	margin:0 0 0 3px !important;
	}

.clear	{
	clear:both;
	}


/* === おしまい。 === */
