body,table{font-size:10pt;}pre,form{margin:0px;}hr{height:1px;}textarea{width:50%;height:75px;}
a{text-decoration:none;}a:hover{text-decoration:underline overline;}
.PAGE_TITLE{width:90%;background-color:#e0f0ff;border-width:2px 2px 0px 2px;border-style:solid;border-color:#0080FF;padding:3px;text-align:center;color:#1e8eff;font-size:20px;font-weight:bolder;}
.PAGE_S21AD{width:90%;background-color:#eeffff;border-width:0px 2px 0px 2px;border-style:solid;border-color:#0080FF;padding:3px;text-align:center;}
.PAGE_CONTE{width:90%;background-color:#e0faff;border-width:0px 2px 0px 2px;border-style:solid;border-color:#0080FF;padding:3px;text-align:left;}
.PAGE_PBACK{width:90%;background-color:#e0e0ff;border-width:0px 2px 2px 2px;border-style:solid;border-color:#0080FF;padding:3px;text-align:center;font-weight:bold;}
.IN1{margin:0px 0px 0px 30px;}.IN2{margin:0px 0px 0px 60px;}
.HPsam{background-color:#ffffff;padding:5px;border:2px;border-style:solid;border-color:#000000;}
.T{color:white;background-color:#158aff;font-weight:bold;padding:3px;margin:1px 0px 4px 0px;}
.C{padding:3px;border:3px;border-style:solid;border-color:#aad5ff #0000ff #000099 #0080ff;}
