@import url("https://cdn.jsdelivr.net/npm/@neos21/neos-normalize@2.1.1/neos-normalize.min.css");

body {
  margin: 1em .5em 3em;
  padding-top: 0 !important;
}

#controls {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: .5em;
  white-space: nowrap;
}
#controls .google-auto-placed {
  display: none !important;  /* Google 広告をタイトル部分に挿入させない */
}
#controls > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#controls > h1 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
#controls > ul:last-child {
  justify-self: end;
}

#wrapper:empty::before {
  display: block;
  content: "Loading...";
  color: #eb0;
  font-weight: bold;
}

#wrapper {
  min-width: 300px;
  display: grid;
  grid-template: auto / 1fr 1fr;
  border: 1px solid var(--nn-colour-grey-400);
  word-break: break-all;
}

#wrapper .columns-title {
  border-top: 0;
  border-bottom: 1px solid var(--nn-colour-grey-400);
  font-weight: bold;
}
#wrapper .columns-title + dt,
#wrapper .columns-title + dt + dd {
  border-top: 0;
}

#wrapper dt,
#wrapper dd {
  border-top: 1px solid var(--nn-colour-grey-400);
  margin: 0;
  padding: .1em .4em;
}

#wrapper dt {
  grid-column: 1;
  border-right: 1px solid var(--nn-colour-grey-400);
  font-weight: normal;
}

#wrapper dd {
  grid-column: 2;
}

#wrapper dd ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em;
}

#content {
  display: none;
}
