BODY,TABLE{font-size:10pt;}
a{text-decoration:none;}
a:hover{text-decoration:underline overline;}
PRE,FORM{margin:0PX;}
HR{height:1px;}
TEXTAREA{WIDTH:50%;height:75px;}
.PAGE_TITLE{WIDTH:90%;BACKGROUND-COLOR:#E0F0FF;PADDING:3PX;TEXT-ALIGN:CENTER;COLOR:#1E8EFF;FONT-SIZE:20PX;FONT-WEIGHT:BOLDER;}
.PAGE_S21AD{WIDTH:90%;BACKGROUND-COLOR:#EEFFFF;PADDING:3PX;TEXT-ALIGN:CENTER;}
.PAGE_CONTE{WIDTH:90%;BACKGROUND-COLOR:#E0FAFF;PADDING:3PX;TEXT-ALIGN:LEFT;}
.PAGE_PBACK{WIDTH:90%;BACKGROUND-COLOR:#E0F0FF;PADDING:3PX;TEXT-ALIGN:CENTER;}
.IN1{margin:0PX 0PX 0PX 30PX;}
.IN2{margin:0PX 0PX 0PX 60PX;}
.T{color:white;background-color:#0080FF;font-weight:bold;PADDING:3PX;margin:1px 0px 4px 0px;}
.C{padding:3px;border:3px;border-style:solid;border-color:#aad5ff #0000FF #000099 #0080FF;}
