<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="AvoEr3mUJFF2H_mPWWgShfmjBVP3ywRpyx9hxeeq2d4">
    <title>{{ page-title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.ico">
    {{ canonical }}
    <link rel="search" type="application/opensearchdescription+xml" title="neos21.net" href="/opensearch.xml">
    <link rel="alternate" type="application/atom+xml" href="/feeds.xml">
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-106501-1','auto');ga('send','pageview');</script>
    <script data-ad-client="ca-pub-6475907504235292" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ head }}
  </head>
  <body>
    <div id="container">
      <header id="header">
        <div id="site-title"><a href="/index.html">Neo's World</a></div>
        <div id="to-bottom"><a href="#footer">▼</a></div>
        <nav id="nav">
          <ul>
            <li><a href="/blog/index.html">Blog</a></li>
            <li><a href="/music/index.html">Music</a></li>
            <li><a href="/games/index.html">Games</a></li>
            <li><a href="/gallery/index.html">Gallery</a></li>
            <li><a href="/etc/index.html">Etc.</a></li>
          </ul>
        </nav>
        <nav id="path">
          <ul>
            {{ path }}
          </ul>
        </nav>
      </header>
      <main id="main">
        {{ date }}
        <h1 id="page-title">{{ title }}</h1>
{{ description }}
{{ contents }}
      </main>
      <footer id="footer">
        <div id="date-time">
          <dl>
            <dt>Created</dt>
            <dd><time>{{ created }}</time></dd>
            <dt>Last-Modified</dt>
            <dd><time>{{ last-modified }}</time></dd>
          </dl>
        </div>
        <nav id="links">
          <ul>
            <li><a href="/about/index.html">About</a></li>
            <li><a href="/about/search.html">Search</a></li>
            <li><a href="/feeds.xml">Feeds</a></li>
            <li><a href="https://github.com/Neos21/">GitHub</a></li>
          </ul>
        </nav>
        <div id="to-top"><a href="#">▲</a></div>
      </footer>
    </div>
  </body>
</html>
