@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Time Leap Pink            */
/*                                     */
/* =================================== */


/* ◆ Pink Style =========================================================== */


body {
	background-image:url("style_080909_bg_p.png");
	}



a:link,
a:visited {
	color:#e39;
	}


a:hover,
a:active {
	color:#333;
	}


abbr,
dfn {
	border-bottom-color:#a14;
	}


table td {
	border-color:#a14;
	}


table th {
	border-color:#a14;
	background-color:#f9f;
	}


#wrapper #site a:hover {
	background-image:url("style_080909_site_p.png");
	}


body.home #wrapper #menu ul li.home a,
body.about #wrapper #menu ul li.about a,
body.web #wrapper #menu ul li.web a,
body.games #wrapper #menu ul li.games a,
body.gallery #wrapper #menu ul li.gallery a,
body.etc #wrapper #menu ul li.etc a,
#wrapper #menu ul li a:hover {
	background-color:#e39;
	}


#wrapper #header h1 {
	color:#f08;
	}


#wrapper #body .section2 h2 {
	color:#a14;
	}


#wrapper #body .section2 .section3 h3 {
	color:#4a1;
	}


/* ↑ Pink Style end ------------------------------------------------------- */
