/*! Neo's World [2018-02-04 Styles] : Neo (@Neos21) http://neo.s21.xrea.com/ */


/* ==================================================
 * インポート
 * ================================================== */

// Neo's Normalize
@import '../../node_modules/@neos21/neos-normalize/neos-normalize.scss';


/* ==================================================
 * 変数定義
 * ================================================== */

// メディアクエリ用
$breakpoint-xs:  575.98px;  // @media (max-width: $breakpoint-xs)
$breakpoint-sm:  576px   ;  // @media (min-width: $breakpoint-sm)
$breakpoint-md:  768px   ;  // @media (min-width: $breakpoint-md)
$breakpoint-lg:  992px   ;  // @media (min-width: $breakpoint-lg)
$breakpoint-xl: 1200px   ;  // @media (min-width: $breakpoint-xl)

// テーマカラー
$colour-white              : #f7fbff;
$colour-white-lighten      : #ffffff;
$colour-grey-lighten       : #c0c4c8;
$colour-black              : #000408;
$colour-dodger-blue        : #0088bb;
$colour-dodger-blue-darken : #007aad;
$colour-dodger-blue-lighten: #44aadd;
$colour-blue               : #006aff;
$colour-blue-darken        : #0050bb;


/* ==================================================
 * ミックスイン定義
 * ================================================== */

// レスポンシブルにボックス幅を変更する
@mixin responsive-width() {
  width: auto;
  margin: 0 auto;
  padding: 0 1rem;
  
  @media (min-width: $breakpoint-md) {
    width: 70vw;
    min-width: calc(#{$breakpoint-md} - 20px);
  }
  
  @media (min-width: $breakpoint-xl) {
    min-width: auto;
  }
}

// 英文のみの要素用のフォント指定
@mixin english-font-family() {
  font-family: Verdana, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

// li 要素をリセットする
@mixin reset-list {
  margin-left: 0;
  list-style: none;
}


/* ==================================================
 * ページ全体・リンク
 * ================================================== */

/* 
 * レスポンシブルにフォントサイズを変更する
 * 
 * - calc(XX + ((1vw - YY) * ZZ))
 *   - XX = 最小サイズを Rem で指定する
 *          ex. 1rem = 16px として計算する
 *   - YY = 拡大を始めるビューポート幅 / 100 (px)
 *          ex. 768px から拡大するなら 7.68px
 *   - ZZ = 100 * 可変させるフォントサイズの差 / 可変させるビューポート幅の差
 *          ex. 100 * (20px - 17px) / (1200px - 768px) = 100 * 3px / 432px = 0.6944...
 * - 参考 : https://websemantics.uk/tools/responsive-font-calculator/
 */
:root {
  // 最小サイズ (基準)
  font-size: 17px;
  
  // 可変
  @media (min-width: $breakpoint-md) {
    font-size: calc(1.0625rem + ((1vw - 7.68px) * .6944));
  }
  
  // 最大サイズ
  @media (min-width: $breakpoint-xl) {
    font-size: 20px;
  }
}

body {
  padding: 0 !important;  // Google AdSense 自動広告の「アンカー広告」がページを押し下げるのを回避する
  color: $colour-black;
  background: $colour-white-lighten;
  
  @media (max-width: $breakpoint-xs) {
    word-break: break-all;
  }
}

a {
  color: $colour-blue;
  text-decoration: none;
  transition: .15s color;
  
  &:hover {
    color: $colour-blue-darken;
    text-decoration: underline;
  }
}


/* ==================================================
 * ヘッダ
 * ================================================== */

#header {
  overflow: hidden;
  
  #xrea {
    height: 60px;
    background: $colour-black;  // #logo の背景色
    
    a {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
    }
  }
  
  #logo {
    @include responsive-width();
    
    margin-top: -60px;
    height: 60px;
    white-space: nowrap;
    
    a {
      @include english-font-family();
      
      display: inline-block;
      margin-top: 10px;   // 雰囲気で垂直中央揃え
      margin-left: -2px;  // 雰囲気で行頭のアラインメント調整
      color: $colour-white;
      font-size: 38px;
      text-decoration: none;
      line-height: 1;
      transition: .2s text-shadow;
      
      &:hover {
        text-shadow: 0 0 20px $colour-white-lighten;
      }
    }
  }
  
  #nav {
    margin-bottom: 1.5rem;
    white-space: nowrap;
    background: $colour-dodger-blue;
    overflow: hidden;  // iPhone でリンクホバー時の背景色がはみ出て見えるのを防ぐ
    
    ul {
      @include responsive-width();
      
      display: flex;
      
      li {
        @include reset-list();
        
        body.about   &.about   a,
        body.music   &.music   a,
        body.games   &.games   a,
        body.gallery &.gallery a,
        body.etc     &.etc     a {
          background: $colour-dodger-blue-darken;
        }
        
        a {
          @include english-font-family();
          
          display: inline-block;
          padding: .6em 1.5em;
          color: $colour-white;
          text-decoration: none;
          transition: .15s background, .15s padding;
          
          &:hover {
            background: $colour-dodger-blue-lighten !important;  // アクティブなタブの詳細度に勝つため important 指定する
          }
        }
        
        &:first-child a {
          margin-left: -1.4em;  // パディング分のインデントを相殺する (1.5em にすると行頭のアラインメントに違和感が出るので微調整)
        }
        
        @media (max-width: $breakpoint-xs) {
          a {
            padding: .6em .5em;
          }
          
          &:first-child a {
            padding-left: 1.5em;  // アニメーション時に左端が動かないよう左パディングのみ保持する
          }
        }
      }
    }
  }
  
  #path {
    @include responsive-width();
    
    margin-bottom: 1.5rem;
    
    ul {
      margin-left: 1.5rem;  // 折り返した時のための余白
      word-break: break-all;
      font-size: 0;  // インライン化した要素間の余白をなくす
      
      li {
        @include reset-list();
        
        display: inline;
        font-size: 1rem;  // フォントサイズを戻す
        
        &:first-child {
          margin-left: -1.5rem;  // 折り返した時のための余白を相殺する
        }
        
        &:not(:last-child) {
          margin-right: .5em;  // 折り返した時に左端を揃えるため右マージンで設定する
        }
        
        &:not(:first-child)::before {
          content: "/";
          display: inline;
          margin-right: .5em;  // 折り返した時に左端を揃えるため右マージンで設定する
          color: $colour-grey-lighten;
        }
        
        .active {
          display: inline-block;
          transition: .15s color;
          
          &:hover {
            color: $colour-blue-darken;
          }
          
          &::before {
            content: "";
            display: block;
            position: relative;
            top: 1.35em;
            left: 0;
            width: 0;
            height: 1px;
            background: $colour-blue-darken;
            transition: .2s width;
          }
          
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}


/* ==================================================
 * メイン
 * ================================================== */

#main {
  width: 100%;
  border-bottom: 2px solid $colour-grey-lighten;
  overflow: hidden;  // Firefox の Scrollbar Anywhere 使用時も横スクロールさせないようにする
  
  // Level 1
  & > section {
    @include responsive-width();
    
    margin-bottom: 4rem;
    
    // Level 2 以降 : 見出しの上に余白を開ける
    section {
      margin-top: 2rem;
    }
    
    // Level 4 以降
    & > section > section section {
      padding-left: 1.5rem;
    }
  }
}


/* ==================================================
 * メイン : ブロック要素
 * ================================================== */

// 下マージンを em にする
h1, h2, h3, h4, h5, h6, p, hr, dl, dt, dd, ol, ul, pre, table, blockquote {
  margin-bottom: 1.25em;
}

// .js-anchor 用
h1, h2, h3, h4, h5, h6 {
  position: relative;
}

h1 {
  transition: .15s color;
  
  &:hover {
    color: $colour-blue;
  }
}

h2 {
  margin-bottom: 1.5em;
  margin-left: -9999px;
  border-radius: 0 4px 4px 0;
  padding: .2em .2em .1em 9999px;
  color: $colour-white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0)),
              $colour-dodger-blue;
  transition: .15s background-color;
  
  &:hover {
    background-color: $colour-dodger-blue-darken;
  }
  
  a, a:hover {
    color: inherit;  // 見出しの白色を継承する
    text-decoration: underline;  // 下線を常に表示する
  }
}

h3 {
  border-bottom: 1px solid $colour-dodger-blue;
  box-shadow: 0 .75rem .75rem -.75rem rgba(0, 5, 10, .1);
  transition: .15s border-bottom-color, .15s box-shadow;
  
  &:hover {
    border-bottom-color: $colour-dodger-blue-darken;
    box-shadow: 0 1rem .75rem -.75rem rgba(0, 5, 10, .1);
  }
}

h4, h5, h6 {
  margin-left: -1.5rem;
  border-left: 1rem solid $colour-dodger-blue;
  padding-left: .5rem;
  transition: .15s border-left-color;
  
  &:hover {
    border-left-color: $colour-dodger-blue-darken;
  }
}

// リストの見出しの下マージンを減らす
dt {
  margin-bottom: .25em;
}

// dd 要素直下のリストは左マージンを節約する
dd > ul > li,
dd > ol > li {
  margin-left: 2em;
}


/* ==================================================
 * メイン : インライン要素
 * ================================================== */

em {
  color: #296;
}

strong {
  color: #f03;
}

// 強調とリンクが併用されている時は下線を常に表示する
em > a, strong > a,
a > em, a > strong {
  text-decoration: underline;
}

abbr[title], dfn[title] {
  font-weight: bold;
  
  &:hover::after {
    content: " (" attr(title) ") ";
    font-weight: normal;
  }
  
  @media (max-width: $breakpoint-xs) {
    &::after {
      content: " (" attr(title) ") ";
      font-weight: normal;
    }
  }
}


/* ==================================================
 * メイン : クラス
 * ================================================== */

// AdSense 表示欄・aside 要素
.adsense {
  margin: 0 auto 1.25em;  // メインのブロック要素の margin-bottom と同値
  text-align: center;
  overflow: hidden;
  
  @media (max-width: $breakpoint-xs) {
    width: 100%;
    height: auto;
  }
}

// スクロール表示する欄・div 要素
.scroll {
  // pre と同じ
  border: 1px solid #c7cbcf;
  border-radius: 4px;
  padding: 1em;
  background-color: #ebedee;
  // 追加分
  max-height: 15em;
  overflow-x: auto;
  overflow-y: scroll;
}

// レスポンシブ表示画像・img 要素
.img {
  max-width: 400px;
  height: auto;
  
  @media screen and (min-width: 1px) and (max-width: 450px) {
    max-width: 100%;
  }
}

// 等幅フォント指定用
.monospace {
  font-family: $nn-monospace;
}

// 見出し用アンカー
.js-anchor {
  margin-left: 1rem;  // 見出し文言の後ろに付く場合・余白を開ける (position: absolute 指定時は無視される)
  text-decoration: none !important;
  opacity: .25;
  transition: .15s opacity;
  
  // 見出し要素にホバーした時
  :hover > & {
    opacity: .6;
  }
  
  // アンカー自体にホバーした時
  &:hover {
    opacity: 1;
  }
  
  // 疑似要素で「#」リンクを配置する
  &::before {
    content: "#";
    // h4・h5・h6 向け指定がベース
    position: absolute;
    top: 50%;
    left: -.825em;
    color: $colour-white;
    font-size: 1rem;
    vertical-align: text-top;  // position: static 時の垂直位置
    transform: translateY(-50%);
    
    h2 > &,
    h3 > & {
      // 狭い時は見出しの後ろに表示する
      position: static;
      font-size: .75em;
      
      // 余白があれば見出しの左側に配置する
      @media (min-width: $breakpoint-lg) {
        position: absolute;
        left: -1.5rem;
      }
    }
    
    // 左マージンを調整する
    h2 > & {
      @media (min-width: $breakpoint-lg) {
        margin-left: 9999px;
      }
    }
    
    // 本来のリンク色を継承する
    h3 > & {
      color: inherit;
    }
  }
}


/* ==================================================
 * フッタ
 * ================================================== */

#footer {
  @include responsive-width();
  @include english-font-family();
  
  position: relative;
  
  #date-time {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid $colour-dodger-blue-lighten;
    padding: 0 1rem;
    
    // 下向きのシェブロン記号を作り #date-time の border-top に重ねる
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 16px;
      height: 16px;
      border-right: 2px solid $colour-dodger-blue-lighten;
      border-bottom: 2px solid $colour-dodger-blue-lighten;
      background: $colour-white-lighten;
      transform: translateX(-9px) translateY(-9px) rotate(45deg);
    }
    
    // シェブロン記号のはみ出た部分を背景と同色の Border で消す
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $colour-white-lighten;
    }
    
    ul {
      display: inline-block;
      padding-top: 2rem;
      
      li {
        @include reset-list();
        
        text-align: right;
      }
      
      @media (max-width: $breakpoint-xs) {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-52.75%);
        
        // IE11 のみリサイズ時に translateX の再計算が行われないため単純な中央揃えにしておく
        @media all and (-ms-high-contrast:none) {
          display: block;
          position: static;
          transform: none;
          
          li {
            text-align: center;
          }
        }
      }
    }
  }
  
  #counters {
    position: relative;  // #date-time が重なってリンクが押せなくならないようにするため指定
    padding-top: 2rem;
    text-align: right;
    
    li {
      @include reset-list();
      
      line-height: 1.2;
    }
    
    @media (max-width: $breakpoint-xs) {
      padding-top: 6rem;
      text-align: center;
      
      li {
        display: inline;
      }
    }
  }
  
  #copyright {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    
    small {
      font-size: 1rem;
    }
  }
}
