/**
 * Neo's World : [2016-02-12 Style]
 * http://neo.s21.xrea.com/
 */


// Variables
// --------------------------------------------------------------------------------

$colorPink: #ff0099;
$colorBlue: #0099ff;


// Global
// --------------------------------------------------------------------------------

html {
  height: 100%;  // ページの高さが1画面分に満たない場合に画面下部に色を付けるため高さを指定
  background: #2b2b2b;  // #footer のグラデーション終点と同じ色
}

body {
  width: 100%;  // Media Queries で反応させるため
  color: #000000;
  background: #f3f3f3;  // #main 周りの背景色になる
  cursor: default;
  -webkit-text-size-adjust: 100%;  // iPhone 向け
}

*::selection {
  background: #99eeff;
}

// Firefox 向け : 「*::selection」とは分けて書く必要あり
*::-moz-selection {
  background: #99eeff;
}

a {
  color: $colorBlue;
  text-decoration: underline;
  cursor: pointer;
  
  &:hover {
    color: $colorPink;
  }
}

h1 {
  font-size: 180%;
  color: $colorBlue;
  transition: .2s;  // For Hover Animation
  
  &:hover {
    color: $colorPink;
  }
}

h2 {
  font-size: 140%;
  padding-bottom: 5px;
  border-bottom: 1px solid $colorBlue;
  transition: .2s;  // For Hover Animation
  
  &:hover {
    border-bottom-color: $colorPink;
  }
}

h3 {
  font-size: 120%;
  color: $colorBlue;
  transition: .2s;  // For Hover Animation
  
  &:hover {
    color: $colorPink;
  }
}

td,
th {
  border: 1px solid $colorBlue;
  padding: 4px;
}

th {
  background: #e0f0ff;
}

dfn,
abbr {
  font-weight: bold;
}

dfn[title]::after,
abbr[title]::after {
  font-weight: 500;
}

dfn[title]:hover::after,
abbr[title]:hover::after {
  content: " (" attr(title) ") ";
}

:not(.code) > code {
  margin: 0 2px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 95%;
  background: #eeeeee;
}


// Class Parts
// --------------------------------------------------------------------------------

// レスポンシブ対応広告だと親要素の幅に沿って広告のサイズを変更できる
.adsense {
  margin: 25px auto;
  text-align: center;
  overflow: hidden;
}

pre.code,
.scroll {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 1em;
  background: #eeeeee;
  max-height: 15em;
  overflow-y: scroll;
}

.img {
  max-width: 400px;
  height: auto;
  
  @media screen and (min-width: 1px) and (max-width: 450px) {
    max-width: 100%;
  }
}


// Header
// --------------------------------------------------------------------------------

#header {
  // XREA
  // --------------------------------------------------------------------------------
  
  // iPhone6Plus Safari の縦表示時に position: absolute; を使うとどうやっても画面中央に配置されないので margin で実装
  // 横表示にすると正しく中央表示になるが、縦表示の場合は左寄りになるため、float した要素が中央位置を算出する親要素が変わるっぽい？
  #xrea {
    width: 468px;
    height: 60px;
    margin: 6px 10px -66px auto;
    overflow: hidden;
    transition: .2s;  // For Media Queries : 中央揃えにする際のアニメーション
    
    img {
      width: 468px;
      height: 60px;
      overflow: hidden;
    }
  }
  
  
  // Logo
  // --------------------------------------------------------------------------------
  
  #logo {
    height: 72px;
    background: linear-gradient(to right, #ee3377 20%, #e795f5 50%, #2277ff 80%);
    transition: .2s;  // For Media Queries : 中央揃えにする際のアニメーション
    
    a {
      display: inline-block;
      width: 240px;
      height: 72px;
      line-height: 72px;
      margin-left: 25px;
      color: #fcfcfc;
      font-size: 35px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      transition: .2s;  // For Hover Animation & Media Queries
      
      &:hover {
        color: #cfcfcf;
      }
    }
  }
  
  
  // Nav
  // --------------------------------------------------------------------------------
  
  #nav {
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px solid #cfcfcf;
    
    ul {
      width: 600px;  // 120 * 5
      height: 45px;
      margin: 0 auto;
      list-style: none;
    }
    
    li {
      width: 120px;  // 600 / 5
      float: left;
    }
    
    a {
      display: block;
      width: 120px;
      height: 45px;
      line-height: 45px;
      padding: 0 5px;
      color: #000000;  // body color
      font-size: 110%;
      text-align: center;
      text-decoration: none;
      transition: .2s;
      border-bottom: 3px solid #fcfcfc;  // For Transition
      
      &:hover {
        color: $colorBlue;
        background: #f9f9f9;
        border-bottom: 3px solid $colorBlue;
      }
    }
    
    // TODO : Active Tab
    body.about   #nav li.about   a,
    body.music   #nav li.music   a,
    body.games   #nav li.games   a,
    body.gallery #nav li.gallery a,
    body.etc     #nav li.etc     a {
      color: $colorPink;
      border-bottom: 3px solid $colorPink;
    }
    
    body.about   #nav li.about   a:hover,
    body.music   #nav li.music   a:hover,
    body.games   #nav li.games   a:hover,
    body.gallery #nav li.gallery a:hover,
    body.etc     #nav li.etc     a:hover {
      color: $colorBlue;
      background: #f9f9f9;
      border-bottom: 3px solid $colorBlue;
    }
  }
  
  
  // Path
  // --------------------------------------------------------------------------------
  
  #path {
    clear: both;
    width: 85%;
    min-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
    line-height: 1.5;
    
    li {
      display: inline;
      
      &:not(:last-child)::after {
        content: " > ";
        color: #999999;
        font-size: 90%;
      }
    }
    
    a {
      display: inline-block;
      text-decoration: none;
      transition: .2s;  // For Hover Animation
      
      // .active と下線のスタイルを合わせるため
      &::before {
        content: "";
        display: block;
        position: relative;
        top: 1.34em;
        left: 0;
        width: 100%;
        height: 1px;
        background: $colorBlue;
      }
      
      &:hover::before {
        background: $colorPink;
      }
    }
    
    .active {
      display: inline-block;
      transition: .25s;
      
      &:hover {
        color: $colorPink;
      }
      
      // 下線アニメーション : width を伸ばすことで下線を引く
      &::before {
        content: "";
        display: block;
        position: relative;
        top: 1.34em;
        left: 0;
        width: 0;
        height: 1px;
        background: $colorPink;
        transition: .25s;
      }
      
      &:hover::before {
        width: 100%;
      }
    }
  }
}


// Main
// --------------------------------------------------------------------------------

#main {
  width: 85%;
  min-width: 960px;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(150, 150, 150, .2);
  background: #ffffff;
  line-height: 1.5;
  
  // 必ずブロック要素の子しか持たない親要素からの子セレクタで余白指定
  section > *,
  dd > *,
  blockquote > * {
    margin-bottom: 20px;
  }
  
  dt {
    margin-bottom: 5px;
  }
  
  dd,
  li {
    margin-left: 2em;
  }
}


// Footer
// --------------------------------------------------------------------------------

#footer {
  border-top: 1px solid #cfcfcf;
  color: #fcfcfc;
  background: linear-gradient(to bottom, #4b4b4b, #2b2b2b);
  
  #date-time,
  #counters {
    width: 85%;
    min-width: 960px;
    margin: 20px auto 0;
    padding: 0 20px;
  }
  
  #counters {
    li {
      display: inline;
    }
  }
  
  #copyright {
    text-align: center;
    padding: 50px 20px;
    
    a {
      color: #fcfcfc;
      text-decoration: none;
      display: inline-block;
      transition: .25s;  // For Hover Animation
      
      &:hover {
        color: $colorBlue;
      }
      
      // 下線アニメーション
      &::before {
        content: "";
        display: block;
        position: relative;
        top: 1.2em;
        left: 0;
        width: 0;
        height: 1px;
        background: $colorBlue;
        transition: .25s;
      }
      
      &:hover::before {
        width: 100%;
      }
    }
  }
}


// Media Queries
// --------------------------------------------------------------------------------

// 「min-width: 1px」は初期表示時に transition が効いてしまう IE 向けの回避
// Media Queries はスクロールバーの幅を含まないので、min-width: 960px; の要素向けのスタイルだが 20px ほど余裕を見て max-width を指定している
@media screen and (min-width: 1px) and (max-width: 980px) {
  #path,
  #main,
  #date-time,
  #counters {
    width: 100%;
    min-width: 100%;
  }
}

// サイトタイトルと XREA 広告が被る手前でヘッダのレイアウト変更
@media screen and (min-width: 1px) and (max-width: 760px) {
  // スマホでは Hover できないことを考慮して最初から表示させる
  dfn[title]::after,
  abbr[title]::after {
    content: " (" attr(title) ") ";
  }
  
  .adsense {
    width: 100%;
    height: auto;
  }
  
  // position: absolute; 指定が効かなかった iPhone Safari 向けに margin で実装
  #xrea {
    width: 100%;
    margin: 0 auto -60px;
    
    img {
      width: 100%;
    }
  }
  
  #logo {
    height: 110px;  // #xrea の 60px + #logo a の 50px
    padding-top: 60px;  // #xrea 分
    
    a {
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 25px;
      margin-left: 0;
    }
  }
  
  #nav {
    ul {
      width: 100%;
      height: 35px;
    }
    
    li {
      width: 20%;  // 5等分
    }
    
    a {
      width: auto;
      height: 35px;
      line-height: 35px;
      font-size: 100%;
    }
  }
  
  // 左右余白を縮める
  #path,
  #main,
  #date-time,
  #counters,
  #copyright {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  // 左側の余白を縮める
  #main {
    dd,
    li {
      margin-left: 20px;
    }
  }
}
