/*! Neo's Normalize : Neo (@Neos21) http://neo.s21.xrea.com/ */


/* ==================================================
 * ページ全体
 * ================================================== */

/* 全ての要素のボックスサイズの計算方法を border-box にする */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Windows 用 Medium 指定の游ゴシック */
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium");
}

/* 太字の時は Bold 書体を使わせる */
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

/* ページ全体のスタイル設定 */
html {
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;  /* 英字フォントを挟まず和英混在フォントのみを使用する */
  overflow-y: scroll;  /* 常に縦スクロールバーを表示する */
  cursor: default;
  -webkit-text-size-adjust: 100%;  /* iOS でフォントサイズの調整を避ける */
  -webkit-text-decoration-skip: objects;  /* iOS で下線部の文字切れを調整する */
  -webkit-overflow-scrolling: touch;  /* 慣性スクロール */
}

/* ページの基準となるスタイルを設定する */
body {
  margin: 0;
  line-height: 1.7;
  overflow-wrap: break-word;
}

/* IE11 でブロック要素として扱われない要素を設定しておく */
main {
  display: block;
}


/* ==================================================
 * マージン関連
 * ================================================== */

/* 上下のマージンを設定する */
h1, h2, h3, h4, h5, h6, p, hr,
dl, dt, dd, ol, ul,
address, details, figcaption, fieldset, form, pre, summary, table {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* 入れ子のリストは下マージンをなくす */
ol ol, ol ul,
ul ol, ul ul {
  margin-bottom: 0;
}

/* 左マージンを付ける */
dd, li {
  margin-left: 3em;
}

/* 引用ブロック・図表はまとめて調整する */
blockquote, figure {
  margin: 0 0 1rem 3em;
}

/* フォームグループ内の余白を調整する */
fieldset > :last-child {
  margin-bottom: 0;
}

/* リストの左パディングをなくす */
ol, ul {
  padding-left: 0;
}


/* ==================================================
 * フォント関連
 * ================================================== */

/* 見出しサイズを調整する */
h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5, h6 { font-size: 1em; }

/* 太字にする */
caption, dt, em, th {
  font-weight: bold;
}

/* 斜体にしない */
address, dfn, em, var {
  font-style: normal;
}

/* 等幅フォントにする */
pre, code, kbd, samp, var, textarea {
  font-family: MeiryoKe_Gothic, "Ricty Diminished", "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", monospace;
}

/* フォーム部品のフォントは親要素から継承させる */
button, input, optgroup, select, textarea {
  margin: 0;  /* 要素の余白をなくす */
  font-family: inherit;
  font-size: inherit;
}

/* 注釈のサイズを調整する */
small {
  font-size: .8em;
}

/* 下付き文字・上付き文字のサイズ・位置を調整する */
sub, sup {
  position: relative;
  font-size: .75em;
  vertical-align: baseline;
}
sub { bottom: -.25em; }
sup { top: -.5em; }


/* ==================================================
 * 個別スタイル設定
 * ================================================== */

/* 等幅ブロック */
pre {
  overflow: auto;
}

/* テーブル */
table {
  border-collapse: collapse;
}

/* テーブルセル */
td, th {
  border: 1px solid #c7cbcf;
  padding: .25em .5em;
}

/* テーブル見出し */
th {
  text-align: center;
  background-color: #ebedee;
}

/* 水平線 */
hr {
  border: 0;
  border-bottom: 1px solid #c7cbcf;
}

/* フォームグループ */
fieldset {
  border: 1px solid #c7cbcf;
}

/* 要約 */
summary {
  cursor: pointer;
}

/* 略語・定義 */
abbr[title], dfn[title] {
  text-decoration: underline;  /* IE・Edge 向け */
  text-decoration: underline dotted;
  cursor: help;
}

/* 引用 */
q {
  quotes: "“"  "”"    "‘"  "’";;
}
q::before { content: open-quote; }
q::after { content: close-quote; }

/* 隣接するテキストを上揃えにする */
img, input, select, textarea {
  vertical-align: top;
}

/* チェックボックスとラジオボタンは隣接するテキストを垂直中央揃えにする */
[type="checkbox"], [type="radio"] {
  vertical-align: middle;
}

/* Mac でのボタン類の表示仕様を揃える */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}


/* ==================================================
 * カスタムスタイル
 * ================================================== */

/* 引用ブロック */
blockquote {
  border: 1px solid #0da;
  border-radius: 4px;
  padding: 1em;
  background-color: #dfe;
}

/* 等幅ブロック */
pre {
  border: 1px solid #c7cbcf;
  border-radius: 4px;
  padding: 1em;
  background-color: #ebedee;
}

/* 親ブロックのパディングとの衝突回避 */
blockquote > :last-child,
pre > :last-child {
  margin-bottom: 0;
}

/* フォームグループ */
fieldset {
  border-radius: 4px;
}

/* 図表 */
figure {
  border-left: .5em solid #c7cbcf;
  padding-left: 1em;
}

/* コード */
:not(pre) > code,
:not(pre) > var,
:not(pre) > samp,
:not(pre) > kbd {
  margin: 0 .25em;
  border: 1px solid #c7cbcf;
  border-radius: 4px;
  padding: .1em .25em;
  background-color: #ebedee;
}
