/**
 * Neo's World : [Reset CSS]
 * http://neo.s21.xrea.com/
 */


// Global
// --------------------------------------------------------------------------------

// input など Form 部品は制御しない
html, body, div, span,
header, footer, nav, main, section, article, aside, address,
h1, h2, h3, h4, h5, h6, p, pre, img,
ul, ol, li, dl, dt, dd, q, blockquote,
table, caption, thead, tfoot, tbody, tr, th, td,
em, strong, del, ins, dfn, abbr, code, mark,
iframe, form, fieldset, legend, label,
details, summary, figure, figcaption, object, embed, audio, video, canvas,
small, s, i, b, cite, time, var, samp, kbd, sub, sup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  background: transparent;
  text-decoration: none;
  vertical-align: baseline;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline;
}

// HTML5 の新要素をブロック要素として定義する
header, footer, nav, main, section, article, aside,
details, figcaption, figure {
  display: block;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}


// Page Styles
// --------------------------------------------------------------------------------

// 常に縦スクロールバー表示
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  word-wrap: break-word;  // 長い英単語も折り返す
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;  // Windows の 游ゴシック Light が細いため指定・ヒラギノ・メイリオの場合は normal と同様の表示
}


// Default Styles
// --------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, caption, th, dt, em, strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

mark {
  background: #ffff00;
}

// IE で下線が付かない対策・Firefox だと text-decoration で下線が付くのは Global にて text-decoration: none; 指定済
dfn, abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

pre, code,
var, samp, kbd {
  font-family: "Ricty Diminished", MeiryoKe_Gothic, Monaco, Consolas, "Courier New", Courier, monospace;
}


// Quotes
// --------------------------------------------------------------------------------

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
}


// Table
// --------------------------------------------------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid #cccccc;
}

caption, th {
  text-align: center;
}


// Etc
// --------------------------------------------------------------------------------

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

// 画像を縦に並べた時に余白が出ないようにする
img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
