/**
 * Neo's World : [Reset CSS]
 * http://neo.s21.xrea.com/
 */


// Global
// --------------------------------------------------------------------------------

// input など Form 部品は制御しない
html, body, div, span,
header, footer, nav, main, section, article, aside, address,
h1, h2, h3, h4, h5, h6, p, pre, img,
ul, ol, li, dl, dt, dd, q, blockquote,
table, caption, thead, tfoot, tbody, tr, th, td,
em, strong, del, ins, dfn, abbr, code, mark,
iframe, form, fieldset, legend, label,
details, summary, figure, figcaption, object, embed, audio, video, canvas,
small, s, i, b, cite, time, var, samp, kbd, sub, sup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  background: transparent;
  text-decoration: none;
  vertical-align: baseline;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline;
}

// HTML5 の新要素をブロック要素として定義する
header, footer, nav, main, section, article, aside,
details, figcaption, figure {
  display: block;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}


// Page Styles
// --------------------------------------------------------------------------------

/* Windows 用 Medium 指定の游ゴシック */
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Medium");
}
/* font-weight: bold; の時は通常どおり Bold 書体を使わせる */
@font-face {
  font-family: "Yu Gothic M";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

// 常に縦スクロールバー表示
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  word-wrap: break-word;  // 長い英単語も折り返す
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, Verdana, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  // Apple システムフォント → 英字フォント → 游ゴシック → ヒラギノ or メイリオ → Osaka or MS P ゴシック で指定。いずれも Mac 向け → Windows 向け、日本語表記 → 英語表記の順。
  // 游ゴシック Medium は @font-face のみ効くブラウザ、Medium 指定のみ効くブラウザがあるため併記が必要
  // 明朝体は以下の設定がオススメ
  // font-family: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}


// Default Styles
// --------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, caption, th, dt, em, strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

mark {
  background: #ffff00;
}

// IE で下線が付かない対策・Firefox だと text-decoration で下線が付くのは Global にて text-decoration: none; 指定済
dfn, abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

// 等幅フォント : 和英混在フォントを先に指定
pre, code,
var, samp, kbd {
  font-family: MeiryoKe_Gothic, "Ricty Diminished", "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", monospace;
}


// Quotes
// --------------------------------------------------------------------------------

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
}


// Table
// --------------------------------------------------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid #cccccc;
}

caption, th {
  text-align: center;
}


// Etc
// --------------------------------------------------------------------------------

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

// 画像を縦に並べた時に余白が出ないようにする
img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
