/*! Neo's World [2020 Styles] : Neo http://neo.s21.xrea.com/ */


/* ==================================================
 * 要素全般
 * ================================================== */

 /* Neo's Normalize */
@import url("../../node_modules/@neos21/neos-normalize/neos-normalize.css");

html {
  overflow-x: hidden;
  font-size: clamp(17px, 1.7vw, 20px);
}

@media (max-width: 600px) {
  html {
    word-break: break-all;
  }
}

body {
  padding: 0 !important;  /* Google AdSense 自動広告の「アンカー広告」がページを押し下げるのを回避する */
}

abbr[title]::after,
dfn[title]::after {
  content: " (" attr(title) ") ";
}


/* ==================================================
 * クラス
 * ================================================== */

.adsense {  /* aside */
  text-align: center;
  overflow: hidden;
}

@media (max-width: 600px) {
  .adsense {
    width: 100%;
    height: auto;
  }
}

.scroll {}
.img {}
.monospace {}


/* ==================================================
 * コンテナ
 * ================================================== */

#container {  /* div */
  max-width: 42rem;
  margin: var(--nn-space-large) auto;
  padding: 0 1rem;
}


/* ==================================================
 * ヘッダ
 * ================================================== */

#header {  /* header */
  overflow-x: hidden;
}

/* #header > */ #site-title {  /* div */ }
/* #header > */ #site-title a {}

/* #header > */ #nav {  /* nav */ }
/* #header > */ #nav ul li a {}

/* #header > */ #path {  /* nav */ }
/* #header > */ #path ul li a {}
/* #header > */ #path ul li#path-active span {}

#adsense-top {  /* aside.adsense */ }

/* ==================================================
 * メイン
 * ================================================== */

#main {  /* main */ }

/* #main > */ #page-title {  /* h1 */ }


/* ==================================================
 * フッタ
 * ================================================== */

#adsense-bottom {  /* aside.adsense */ }

#footer {  /* footer */ }

/* #footer > */ #date-time {  /* div */ }
/* #footer > */ #date-time dl dt {}
/* #footer > */ #date-time dl dd time {}

/* #footer > */ #copyright {  /* div */ }
/* #footer > */ #copyright a {}
