/* Neo's Normalize */
@import url("../../node_modules/@neos21/neos-normalize/neos-normalize.css");


/*! Neo's World [2020 Styles] : Neo https://neos21.net/ */

/* ==================================================
 * General
 * ================================================== */

:root {
  --font-size-small: .86rem;
}

html {
  font-size: 17px;
}

@media (max-width: 600px) {
  html {
    word-break: break-all;
  }
}

body {
  padding: 0 !important;  /* Google AdSense 自動広告の「アンカー広告」がページを押し下げるのを回避する */
}

td {
  background: var(--nn-colour-white);
}

abbr[title],
dfn[title] {
  font-weight: bold;
  text-decoration: underline dotted;
}

abbr[title]::after,
dfn[title]::after {
  content: " (" attr(title) ") ";
  font-size: var(--font-size-small);
}

q {
  cursor: help;
}

img {
  max-width: 100%;
  outline: 1px solid var(--nn-colour-grey-200);
}

/* Markdown を変換した時に `li` 要素配下に `p` 要素が挿入されることがあるので最初の `p` 要素のみマージンを削る */
li > p:first-child {
  margin: 0;
}


/* ==================================================
 * Class
 * ================================================== */

.ad-amazon,
.ad-rakuten {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--nn-space-tiny);
  margin: var(--nn-space-default) 0;
  border: 1px solid var(--nn-colour-grey-400);
  border-radius: var(--nn-border-radius-default);
  padding: var(--nn-space-small);
  font-size: var(--font-size-small);
  line-height: 1.4;
}

.ad-amazon::before,
.ad-rakuten::before {
  position: absolute;
  right: var(--nn-space-tiny);
  bottom: var(--nn-space-tiny);
  font-weight: bold;
}

.ad-amazon::before {
  content: "Amazon";
  color: rgba(250, 150, 0, .7);
}

.ad-rakuten::before {
  content: "楽天市場";
  color: rgba(200, 0, 0, .7);
}

.ins-block {
  display: block;  /* ins 要素に直接使用しても良いように */
  margin: var(--nn-space-default) 0;
  border: 1px solid var(--nn-colour-yellow);
  border-radius: var(--nn-border-radius-default);
  padding: var(--nn-space-small);
  text-decoration: none;
  background: #fffff2;
}

.ins-block::before {
  content: "追記";
  display: block;
  margin-bottom: var(--nn-space-small);
  color: var(--nn-colour-yellow);
  font-size: var(--font-size-small);
  font-weight: bold;
}

.ins-block > :first-child {
  margin-top: 0;
}

.ins-block > :last-child {
  margin-bottom: 0;
}

/* dd 要素内のリストのインデントを下げる */
dl.nested-list dd ol,
dl.nested-list dd ul,
dd.nested-list ol,
dd.nested-list ul,
ol.nested-list,
ul.nested-list {
  padding: 0;
}

.monospace {
  font-family: var(--nn-font-family-monospace);
}


/* Prism.js Monokai Theme : https://github.com/Swaagie/prismjs-monokai
 * -------------------------------------------------- */

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 0;
  background: #171c1d;
}

code[class*="language-"],
pre[class*="language-"],
.token.punctuation,
.language-css .token.string,
.style        .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #f2f8f8;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8890a0;
}

.token.constant,
.token.deleted,
.token.keyword,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.important,
.token.regex {
  color: #fd971f;
}

.token.bold,
.token.important,
.token.italic {
  font-weight: bold;
}


/* ==================================================
 * Container
 * 
 * body
 *   div#container
 * ================================================== */

#container {  /* div */
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 1rem;
}


/* ==================================================
 * Header
 * 
 * header#header
 *   div#site-title
 *     a
 *   nav#header-links
 *     ul > li > a > span
 *   nav#global-nav
 *     ul > li > a
 *   nav#path
 *     ul > li > a
 * ================================================== */

#header {
  --header-margin: calc(var(--nn-space-default) * var(--nn-ratio-2));
  
  position: relative;
  margin: calc(var(--header-margin) * var(--nn-ratio-1)) 0 var(--header-margin);
  line-height: 1.4;
}

#header nav {
  margin: 0;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header li {
  display: inline-block;
}

#header #site-title {
  margin-bottom: var(--header-margin);
}

#site-title a {
  color: inherit;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

#site-title a:hover {
  color: var(--nn-colour-blue);
}

#header-links {
  position: absolute;
  top: 0;
  right: 0;
}

#header-links li:not(:last-child)::after {
  content: "";
  margin-right: calc(var(--nn-space-tiny) / var(--nn-ratio-4));
}

#header-links a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  opacity: .8;
}

#header-links a:hover::before {
  opacity: .6;
}

#header-link-about a::before {
  background-image: url("/icon-question.svg");
}

#header-link-search a::before {
  background-image: url("/icon-search.svg");
}

#header-link-feeds a::before {
  background-image: url("/icon-rss.svg");
}

#header-link-to-bottom a::before {
  background-image: url("/icon-angle-down.svg");
}

#header-links span {
  display: none;
}

#header #global-nav {
  margin: var(--header-margin) 0;
}

#global-nav li:not(:last-child)::after {
  content: "";
  margin-right: var(--nn-space-tiny);
}

#header #path {
  margin-top: var(--header-margin);
  font-size: var(--font-size-small);
}

#path li::after {
  content: " / ";
  color: var(--nn-colour-grey-400);
  margin: 0 calc(var(--nn-space-tiny) / var(--nn-ratio-4));
}

#path a {
  color: var(--nn-colour-grey);
  text-decoration: none;
}

#path a:hover {
  text-decoration: underline;
}


/* ==================================================
 * Main
 * 
 * main#main
 *   div#header-date > time
 *   h1#page-title
 * ================================================== */

#main {  /* main */
  margin: calc(var(--nn-space-default) * var(--nn-ratio-2)) 0;
}

/* #main > */ #header-date {  /* div・存在しない場合もある */
  margin-top: var(--nn-space-small);
  margin-bottom: calc(var(--nn-space-tiny) / var(--nn-ratio-4));
  color: var(--nn-colour-grey);
  font-size: .8rem;
  line-height: 1.4;
}

#page-title {   /* h1 */
  margin-top: 0;
  line-height: 1.4;
}

.header-link {  /* a・見出しの「$」リンク */
  --header-link-width: 1rem;  /* #container の padding 分まで */
  
  position: relative;
  left: calc(var(--header-link-width) * -1);
  display: inline-block;
  margin-right: calc(var(--header-link-width) * -1);  /* 相殺 */
  width: var(--header-link-width);
  color: rgba(128, 128, 128, .15);
  font-size: var(--font-size-small);
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

:hover > .header-link {
  color: rgba(128, 128, 128, .5);
}

.header-link:hover,
.header-link:hover * {
  color: rgba(128, 128, 128, .8);
}

.header-link-mark {
  text-decoration: none;
}

.header-link-mark::before {
  content: "$";
  padding: .6rem 0;
}


/* ==================================================
 * Footer
 * 
 * footer#footer
 *   div#date-time
 *     dl
 *       dt
 *       dd > time
 *   nav#footer-links
 *     ul > li > a
 *   nav#to-top
 *     a
 * ================================================== */

#footer {
  border-top: 1px solid var(--nn-colour-grey-400);
  text-align: right;
}

#date-time {
  margin-top: calc(var(--nn-space-large) / var(--nn-ratio-1));
}

#date-time dt {
  display: inline;
  font-weight: normal;
}

#date-time dt::after {
  content: " : ";
}

#date-time dd {
  display: inline;
  margin: 0;
}

#date-time dd:not(:last-child)::after {
  content: "";
  display: block;
}

#footer-links {
  margin: var(--nn-space-large) 0;
  text-align: center;
}

#footer-links ul {
  padding: 0;
  list-style: none;
}

#footer-links li {
  display: inline-block;
}

#footer-links li:not(:first-child)::before {
  content: " ";
  margin: 0 var(--nn-space-tiny);
}

#footer-links a {
  color: inherit;
  text-decoration: none;
}

#footer-links a::before {
  content: "";
  display: inline-block;
  margin-bottom: -.1rem;
  width: 1.4rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: .9rem;
  opacity: .8;
}

#footer-links a:hover {
  opacity: .6;
}

#footer-link-about a::before {
  background-image: url("/icon-question.svg");
}

#footer-link-search a::before {
  background-image: url("/icon-search.svg");
}

#footer-link-feeds a::before {
  background-image: url("/icon-rss.svg");
}

#footer-link-github a::before {
  background-image: url("/icon-github.svg");
}

#to-top a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  background-image: url("/icon-angle-up.svg");
  opacity: .8;
}

#to-top a:hover::before {
  opacity: .6;
}

#to-top span {
  display: none;
}
