@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Dark Trail                */
/*                                     */
/* =================================== */





/* ◆ Global ================================================================ */


body {
	color:#ddd;
	text-align:center; /* for IE */
	background:#222 url("style_070902_bg.png") repeat-x;
	}


a:link,
a:visited {
	color:#f08;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#08f;
	text-decoration:none;
	}


select,
select option {
	color:#000;
	}


table td {
	border:1px solid #36b;
	}


table th {
	border:1px solid #36b;
	color:#fff;
	background-color:#36b;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	margin:0 auto;
	width:80%;
	min-width:780px;
	text-align:left; /* for IE */
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Ad ========================================================= */


#wrapper #ad {
	margin:80px 0;
	height:60px;
	text-align:right;
	}


#wrapper #ad a {
	}


#wrapper #ad a img {
	}


/* ↑ Wrapper → Ad end ----------------------------------------------------- */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	margin:-220px 0 20px;
	height:220px;
	}


#wrapper #site a {
	display:block;
	width:240px;
	height:220px;
	background:url("style_070902_site.png") no-repeat;
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Nav ======================================================== */


#wrapper #nav {
	margin:0 0 5px;
	height:35px;
	overflow:hidden;
	}


#wrapper #nav p,
#wrapper #nav p span.active,
#wrapper #nav p a:link,
#wrapper #nav p a:visited {
	color:#999;
	font-weight:bold;
	text-decoration:none;
	}


#wrapper #nav p a:hover,
#wrapper #nav p a:active {
	color:#ccc;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #76b6f4;
	}


/* ↑ Wrapper → Nav end ---------------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	}


#wrapper #header h1 {
	height:70px;
	font-size:180%;
	overflow:hidden;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	clear:both;
	width:100%;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Body → Article ============================================ */


#wrapper #body #article {
	float:left;
	clear:left;
	width:100%;
	margin-right:-240px;
	}


/* div.sec2 : 下マージン指定済 */
#wrapper #body #article .sec2 {
	margin-top:20px;
	margin-right:270px;
	}


/* h2 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 h2 {
	padding:5px 0;
	color:#26c;
	border-top:3px solid #bcf;
	border-bottom:1px solid #bcf;
	}


/* h3 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 .sec3 h3 {
	color:#26c;
	}


/* ↑ Wrapper → Body → Article end ---------------------------------------- */





/* ◆ Wrapper → Body → Aside ============================================== */


#wrapper #body #aside {
	float:right;
	clear:right;
	margin:0 0 200px;
	width:240px;
	background:#111 url("style_070902_menu.png") no-repeat bottom;
	}


/* dt, dd, dd li の下マージン指定済 */
#wrapper #body #aside dl {
	margin:0 20px;
	}


#wrapper #body #aside dl dt {
	padding:5px 0;
	color:#26c;
	font-size:130%;
	border-top:3px solid #bcf;
	border-bottom:1px solid #bcf;
	}


#wrapper #body #aside dl dd {
	}


/* Main Menu */
#wrapper #body #aside dl#menu {
	}


/* Main Menu の dt 要素 : フォントサイズ指定済 */
#wrapper #body #aside dl#menu dt {
	margin-top:20px;
	}


#wrapper #body #aside dl#menu dd {
	margin-left:0 !important;
	}


#wrapper #body #aside dl#menu dd ul {
	list-style-type:none;
	}


#wrapper #body #aside dl#menu dd ul li {
	margin:0 !important;
	}


#wrapper #body #aside dl#menu dd ul li a {
	display:block;

	width:200px;
	padding:8px 0;
	font-size:105%;
	font-weight:bold;
	text-indent:8px;
	border-bottom:1px solid #ddd;
	}


/* ↑ Wrapper → Body → Aside end ------------------------------------------ */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	clear:both;
	}


#wrapper #footer .section {
	margin:30px 0 0;
	padding:20px 0 50px;
	border-top:1px solid #ccc;
	}


#wrapper #footer .section a:link,
#wrapper #footer .section a:visited {
	}


#wrapper #footer .section a:hover,
#wrapper #footer .section a:active {
	}


#wrapper #footer .section p {
	}


#wrapper #footer .section p.datetime {
	margin:14px 0;
	}


#wrapper #footer .section ul {
	margin:7px 0;
	}


#wrapper #footer .section ul li {
	display:inline;
	margin:0 !important;
	list-style-type:none;
	}


#wrapper #footer .section address {
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */
