@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Liquid PnB                */
/*                                     */
/* =================================== */





/* ◆ Global ================================================================ */


body {
	background:#fff url("style_080129_top.png") top center repeat-x;
	}


a:link,
a:visited {
	color:#f08;
	font-weight:bold;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#07f;
	font-weight:bold;
	text-decoration:underline;
	}


table td {
	border:1px solid #f08;
	}


table th {
	border:1px solid #f08;
	color:#fff;
	background-color:#f8c;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	position:relative;
	top:0;
	left:0;
	clear:both;
	width:100%;
	height:100%;
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Ad ========================================================= */


#wrapper #ad {
	margin:30px 40px 30px 320px;
	text-align:right;
	}


#wrapper #ad a {
	}


#wrapper #ad a img {
	}


/* ↑ Wrapper → Ad end ----------------------------------------------------- */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	margin:-120px 0 0 45px;
	height:120px;
	}


#wrapper #site a {
	display:block;
	width:270px;
	height:120px;
	background:#f7d url("style_080129_site.png") top left no-repeat;
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Nav ======================================================== */


#wrapper #nav {
	padding:15px 50px 12px;
	border-top:1px solid #b15;
	border-bottom:4px solid #f08;
	background:#2f2f2f url("style_080129_list.png") top left repeat-x;
	}


#wrapper #nav p {
	color:#fff;
	font-weight:bold;
	}


#wrapper #nav p span.active {
	color:#fff;
	font-weight:bold;
	}


#wrapper #nav p a:link,
#wrapper #nav p a:visited {
	color:#fff;
	text-decoration:none;
	}


#wrapper #nav p a:hover,
#wrapper #nav p a:active {
	border-bottom:1px solid #7bf;
	color:#fff;
	text-decoration:none;
	}


/* ↑ Wrapper → Nav end ---------------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	margin:13px 50px 25px;
	}


#wrapper #header h1 {
	font-size:175%;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	clear:both;
	width:100%;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Body → Article ============================================ */


#wrapper #body #article {
	margin-right:-270px;
	float:left;
	clear:left;
	width:100%;
	}


/* div.sec2 : 下マージン指定済 */
#wrapper #body #article .sec2 {
	margin-right:300px;
	margin-left:50px;
	}


/* h2 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 h2 {
	border-bottom:1px solid #bbb;
	color:#f08;
	}


/* h3 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 .sec3 h3 {
	color:#f08;
	}


/* dt 要素 : 基本スタイル指定済 */
#wrapper #body #article dl dt {
	background-color:#eff;
	}


/* ↑ Wrapper → Body → Article end ---------------------------------------- */





/* ◆ Wrapper → Body → Aside ============================================== */


#wrapper #body #aside {
	float:right;
	clear:right;
	width:270px;
	}


/* dt, dd, dd li の下マージン指定済 */
#wrapper #body #aside dl {
	margin-right:50px;
	}


#wrapper #body #aside dl dt {
	margin:0 0 10px;
	border-bottom:1px solid #bbb;
	color:#06f;
	font-size:120%;
	}


#wrapper #body #aside dl dd a:link,
#wrapper #body #aside dl dd a:visited {
	color:#06f;
	text-decoration:underline;
	}


#wrapper #body #aside dl dd a:hover,
#wrapper #body #aside dl dd a:active {
	color:#f08;
	text-decoration:underline;
	}


/* Main Menu */
#wrapper #body #aside dl#menu {
	}


/* Main Menu の dt 要素 : フォントサイズ指定済 */
#wrapper #body #aside dl#menu dt {
	color:#07f;
	}


#wrapper #body #aside dl#menu dd ul li {
	color:#07f;
	}


#wrapper #body #aside dl#menu dd ul li a:link,
#wrapper #body #aside dl#menu dd ul li a:visited {
	color:#07f;
	text-decoration:none;
	}


#wrapper #body #aside dl#menu dd ul li a:hover,
#wrapper #body #aside dl#menu dd ul li a:active {
	text-decoration:underline;
	}


#wrapper #body #aside dl#menu dd ul li.active,
#wrapper #body #aside dl#menu dd ul li.active a {
	color:#f08;
	}


/* ↑ Wrapper → Body → Aside end ------------------------------------------ */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	border-top:5px solid #f08;
	clear:both;
	width:100%;
	background:#444 url("style_080129_footer.png") top left repeat-x;
	}


#wrapper #footer .section {
	margin:0 50px;
	padding:20px 0 50px;
	color:#fff;
	}


#wrapper #footer .section a:link,
#wrapper #footer .section a:visited {
	color:#fff;
	text-decoration:none;
	}


#wrapper #footer .section a:hover,
#wrapper #footer .section a:active {
	border-bottom:1px solid #7bf;
	color:#fff;
	text-decoration:none;
	}


#wrapper #footer .section p {
	}


#wrapper #footer .section p.datetime {
	margin:14px 0;
	}


#wrapper #footer .section ul {
	margin:7px 0;
	padding:0;
	}


#wrapper #footer .section ul li {
	margin:0 !important;
	display:inline;
	list-style-type:none;
	}


#wrapper #footer .section address {
	color:#fff;
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */
