*, ::before, ::after { box-sizing: border-box; }
html { font-family: sans-serif; cursor: default; }
body { margin: 1em 1em 3em; padding-top: 0 !important; }
:root { --border-colour: #ccc; }

#controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#controls > div:last-child {
  justify-self: end;
}

#wrapper:empty::before {
  display: block;
  content: "Loading...";
  color: #eb0;
  font-weight: bold;
}

#wrapper {
  min-width: 300px;
  display: grid;
  grid-template: auto / 1fr 1fr;
  border: 1px solid var(--border-colour);
}

#wrapper .columns-title {
  border-top: 0;
  border-bottom: 1px solid var(--border-colour);
  font-weight: bold;
}
#wrapper .columns-title + dt,
#wrapper .columns-title + dt + dd {
  border-top: 0;
}

#wrapper dt, #wrapper dd {
  border-top: 1px solid var(--border-colour);
  margin: 0;
  padding: .1em .4em;
}

#wrapper dt {
  grid-column: 1;
  border-right: 1px solid var(--border-colour);
}

#wrapper dd {
  grid-column: 2;
}

#wrapper dd ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em;
}
#wrapper dd code {
  border-bottom: 2px solid var(--border-colour);
}

#content {
  display: none;
}