@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Emo                       */
/*                                     */
/* =================================== */





/* ◆ Global ================================================================ */


body {
	background:#f08 url("style_071102_bg.png") top center repeat-x fixed;
	text-align:center; /* for IE */
	}


a:link,
a:visited {
	color:#f08;
	font-weight:bold;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#000;
	font-weight:bold;
	text-decoration:underline;
	}


table td {
	border:1px solid #f08;
	}


table th {
	border:1px solid #f08;
	color:#fff;
	background-color:#f08;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	margin:0 auto;
	position:relative;
	top:0;
	left:0;
	clear:both;
	width:780px;
	height:100%;
	background-color:#fff;
	text-align:left; /* for IE */
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Ad ========================================================= */


#wrapper #ad {
	padding:40px 20px 35px 0;
	background:#f7d url("style_071102_site.png") top left no-repeat;
	text-align:right;
	}


#wrapper #ad a {
	display:block;
	height:60px;
	}


#wrapper #ad a img {
	}


/* ↑ Wrapper → Ad end ----------------------------------------------------- */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	position:absolute;
	top:0;
	left:0;
	width:285px;
	height:135px;
	}


#wrapper #site a {
	display:block;
	width:285px;
	height:135px;
	background:#f7d url("style_071102_site.png") top left no-repeat;
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Nav ======================================================== */


#wrapper #nav {
	padding:13px 20px;
	color:#fff;
	background:#fff url("style_071102_list.png") top left repeat-x;
	font-weight:bold;
	}


#wrapper #nav p {
	color:#fff;
	font-weight:bold;
	}


#wrapper #nav p span.active {
	color:#222;
	font-weight:bold;
	}


#wrapper #nav p a:link,
#wrapper #nav p a:visited {
	color:#000;
	font-weight:bold;
	}


#wrapper #nav p a:hover,
#wrapper #nav p a:active {
	color:#f08;
	font-weight:bold;
	}


/* ↑ Wrapper → Nav end ---------------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	padding:20px 20px 30px;
	}


#wrapper #header h1 {
	padding:8px 0 0;
	border-top:3px solid #f08;
	border-bottom:3px dashed #f08;
	font-size:170%;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	clear:both;
	width:780px;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Body → Article ============================================ */


#wrapper #body #article {
	padding-top:20px;
	float:right;
	width:545px;
	}


/* div.sec2 : 下マージン指定済 */
#wrapper #body #article .sec2 {
	margin-right:20px;
	}


/* h2 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 h2 {
	border-bottom:2px dashed #f08;
	color:#f08;
	}


/* h3 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 .sec3 h3 {
	color:#f08;
	}

/* dt 要素 : 基本スタイル指定済 */
#wrapper #body #article dl dt {
	background-color:#eff;
	}


/* ↑ Wrapper → Body → Article end ---------------------------------------- */





/* ◆ Wrapper → Body → Aside ============================================== */


#wrapper #body #aside {
	float:left;
	width:235px;
	}


/* dt, dd, dd li の下マージン指定済 */
#wrapper #body #aside dl {
	margin:0 15px 0 20px;
	}


#wrapper #body #aside dl dt {
	margin:35px 0 20px;
	border-bottom:2px dashed #999;
	color:#999;
	font-size:130%;
	}


/* Main Menu */
#wrapper #body #aside dl#menu {
	margin:10px 35px 0 20px;
	background-color:#e9eaeb;
	}


/* Main Menu の dt 要素 : フォントサイズ指定済 */
#wrapper #body #aside dl#menu dt {
	margin:10px 0 15px;
	border-bottom:2px dashed #f08;
	color:#f08;
	}


#wrapper #body #aside dl#menu dd ul li {
	margin-left:0 !important;
	list-style:none;
	}


#wrapper #body #aside dl#menu dd ul li a {
	display:block;
	padding:3px 0;
	border-bottom:1px solid #aaa;
	width:180px;
	font-size:105%;
	text-decoration:none;
	}


#wrapper #body #aside dl#menu dd ul li a:link,
#wrapper #body #aside dl#menu dd ul li a:visited {
	color:#000;
	}


#wrapper #body #aside dl#menu dd ul li a:hover,
#wrapper #body #aside dl#menu dd ul li a:active {
	color:#f08;
	border-bottom:1px solid #f08;
	}


/* ↑ Wrapper → Body → Aside end ------------------------------------------ */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	clear:both;
	width:780px;
	background:#6cf url("style_071102_fotter.png");
	}


#wrapper #footer .section {
	border-top:4px solid #08f;
	padding:20px 20px 50px;
	}


#wrapper #footer .section a:link,
#wrapper #footer .section a:visited {
	color:#000;
	text-decoration:none;
	}


#wrapper #footer .section a:hover,
#wrapper #footer .section a:active {
	color:#f08;
	text-decoration:none;
	}


#wrapper #footer .section p {
	}


#wrapper #footer .section p.datetime {
	margin:14px 0;
	}


#wrapper #footer .section ul {
	margin:7px 0;
	}


#wrapper #footer .section ul li {
	margin:0 !important;
	display:inline;
	list-style-type:none;
	}


#wrapper #footer .section address {
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */
