@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Sunset                    */
/*                                     */
/* =================================== */





/* ◆ Global ================================================================ */


body {
	color:#111;
	text-align:center; /* for IE */
	background:#ff8100 url("style_070201_bg.png") repeat-x fixed;
	}


a:link,
a:visited {
	color:#f08;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#08f;
	text-decoration:none;
	}


table td {
	border:1px solid #36b;
	}


table th {
	border:1px solid #36b;
	color:#fff;
	background-color:#36b;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	width:770px;
	margin:0 auto;
	text-align:left; /* for IE */
	background-color:#fff;
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Ad ========================================================= */

#wrapper #ad {
	height:90px;
	text-align:center;
	background-color:#ffd800;
	}


/* ↑ Wrapper → Ad end ----------------------------------------------------- */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	}


#wrapper #site a {
	display:block;
	width:770px;
	height:110px;
	background:url("style_070201_site.png");
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Nav ======================================================== */


#wrapper #nav {
	margin:30px 10px 5px 11px;
	}


#wrapper #nav p,
#wrapper #nav p span.active,
#wrapper #nav p a:link,
#wrapper #nav p a:visited {
	color:#393939;
	font-weight:bold;
	text-decoration:none;
	}

#wrapper #nav p a:hover,
#wrapper #nav p a:active {
	color:#565656;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #76b6f4;
	}


/* ↑ Wrapper → Nav end ---------------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	}


#wrapper #header h1 {
	margin:0 10px 15px;
	font-size:180%;
	border-bottom:1px solid #ddd;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	clear:both;
	width:770px;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Body → Article ============================================ */


#wrapper #body #article {
	float:left;
	width:575px;
	}


/* div.sec2 : 下マージン指定済 */
#wrapper #body #article .sec2 {
	margin-top:20px;
	margin-right:10px;
	margin-left:10px;
	}


/* h2 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 h2 {
	padding:5px 0;
	color:#04a;
	border-top:3px solid #bcf;
	border-bottom:1px solid #bcf;
	}


/* h3 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 .sec3 h3 {
	color:#04a;
	}


/* ↑ Wrapper → Body → Article end ---------------------------------------- */





/* ◆ Wrapper → Body → Aside ============================================== */


#wrapper #body #aside {
	float:right;
	width:195px;
	}


/* dt, dd, dd li の下マージン指定済 */
#wrapper #body #aside dl {
	margin-right:10px;
	margin-bottom:20px;
	}


#wrapper #body #aside dl dt {
	padding:5px 0;
	color:#04a;
	font-size:130%;
	border-top:3px solid #bcf;
	border-bottom:1px solid #bcf;
	}


/* Main Menu */
#wrapper #body #aside dl#menu {
	}


/* Main Menu の dt 要素 : フォントサイズ指定済 */
#wrapper #body #aside dl#menu dt {
	margin-top:20px;
	}


#wrapper #body #aside dl#menu dd {
	margin-left:0 !important;
	}


#wrapper #body #aside dl#menu dd ul {
	list-style-type:none;
	}


#wrapper #body #aside dl#menu dd ul li {
	margin:0 !important;
	}


#wrapper #body #aside dl#menu dd ul li a {
	display:block;
	width:185px;
	padding:8px 0;
	font-size:110%;
	font-weight:bold;
	text-indent:8px;
	border-bottom:1px solid #ddd;
	}


/* ↑ Wrapper → Body → Aside end ------------------------------------------ */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	clear:both;
	width:770px;
	}


#wrapper #footer .section {
	padding:10px 10px 100px;
	border-top:5px solid #76b6f4;
	background-color:#565656;
	color:#eee;
	}


#wrapper #footer .section a:link,
#wrapper #footer .section a:visited {
	color:#eee;
	font-weight:bold;
	text-decoration:none;
	}


#wrapper #footer .section a:hover,
#wrapper #footer .section a:active {
	border-bottom:1px solid #7bf;
	color:#eee;
	font-weight:bold;
	text-decoration:none;
	}


#wrapper #footer .section p {
	}


#wrapper #footer .section p.datetime {
	margin:14px 0;
	}


#wrapper #footer .section ul {
	margin:7px 0;
	}


#wrapper #footer .section ul li {
	display:inline;
	margin:0 !important;
	list-style-type:none;
	}


#wrapper #footer .section address {
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */
