@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Random                    */
/*                                     */
/* =================================== */





/* ◆ Global ================================================================ */


body {
	background:#000;
	text-align:center; /* for IE */
	}


a:link,
a:visited {
	color:#f08;
	font-weight:bold;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#039;
	font-weight:bold;
	text-decoration:underline;
	}


table td {
	border:1px solid #f08;
	}


table th {
	border:1px solid #f08;
	color:#fff;
	background-color:#f8c;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	position:relative;
	top:0;
	left:0;
	margin:0 auto;
	width:980px;
	background:url("style_080408_site.png") center top no-repeat #fff;
	text-align:left; /* for IE */
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Ad ========================================================= */


#wrapper #ad {
	padding:210px 0 60px;
	text-align:center;
	}


#wrapper #ad a {
	}


#wrapper #ad a img {
	}


/* ↑ Wrapper → Ad end ----------------------------------------------------- */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	position:absolute;
	top:0;
	left:0;
	width:980px;
	height:210px;
	z-index:2;
	}


#wrapper #site a {
	display:block;
	width:980px;
	height:210px;
	background:url("style_080408_site.png") center top no-repeat #000;
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Nav ======================================================== */


#wrapper #nav {
	margin:0 30px;
	}


#wrapper #nav p {
	color:#444;
	font-weight:bold;
	}


#wrapper #nav p span.active {
	color:#444;
	font-weight:bold;
	}


#wrapper #nav p a:link,
#wrapper #nav p a:visited {
	color:#444;
	text-decoration:none;
	}


#wrapper #nav p a:hover,
#wrapper #nav p a:active {
	border-bottom:1px solid #f0f;
	color:#444;
	text-decoration:none;
	}


/* ↑ Wrapper → Nav end ---------------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	margin:0 0 25px;
	padding:5px 30px;
	background:url("style_080408_header.png") center bottom no-repeat #fff;
	}


#wrapper #header h1 {
	color:#e15;
	font-size:200%;
	font-weight:bold;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	width:980px;
	overflow:auto;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Body → Article ============================================ */


#wrapper #body #article {
	float:right;
	clear:right;
	width:730px;
	}


/* div.sec2 : 下マージン指定済 */
#wrapper #body #article .sec2 {
	margin-right:15px;
	margin-left:25px;
	}


/* h2 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 h2 {
	padding:5px;
	color:#fff;
	font-size:105%;
	background-color:#e15;
	}


#wrapper #body #article .sec2 .sec3 {
	padding:15px 0 25px;
	background:url("style_080408_sec3.png") center bottom no-repeat #fff;
	}


/* h3 要素 : フォントサイズ指定済 */
#wrapper #body #article .sec2 .sec3 h3 {
	padding:0 0 5px;
	font-size:120%;
	color:#e15;
	background:url("style_080408_h3.png") center bottom repeat-x #fff;
	}


/* dt 要素 : 基本スタイル指定済 */
#wrapper #body #article dl dt,
#wrapper #body #article dl dd dl dt {
	border-left-color:#999;
	}


#wrapper #body #article ul li,
#wrapper #body #article dl dd ul li {
	margin-left:0 !important;
	padding-left:20px;
	list-style:none;
	background:url("style_080408_al.png") -730px 2px no-repeat #fff;
	}


/* ↑ Wrapper → Body → Article end ---------------------------------------- */





/* ◆ Wrapper → Body → Aside ============================================== */


#wrapper #body #aside {
	float:left;
	clear:left;
	width:250px;
	}


/* dt, dd, dd li の下マージン指定済 */
#wrapper #body #aside dl {
	margin-left:15px;
	}


#wrapper #body #aside dl dt {
	min-height:30px;
	padding:5px 13px;
	color:#fff;
	background:url("style_080408_aside.png") center top no-repeat #f08;
	}


#wrapper #body #aside dl dd {
	}


#wrapper #body #aside dl dd * * {
	margin-bottom:0;
	}


#wrapper #body #aside dl dd a:link,
#wrapper #body #aside dl dd a:visited {
	color:#666;
	}


#wrapper #body #aside dl dd a:hover,
#wrapper #body #aside dl dd a:active {
	color:#f08;
	}


/* Main Menu */
#wrapper #body #aside dl#menu {
	}


/* Main Menu の dt 要素 : フォントサイズ指定済 */
#wrapper #body #aside dl#menu dt {
	display:none;
	}


#wrapper #body #aside dl#menu dd {
	margin-bottom:30px;
	}


#wrapper #body #aside dl#menu dd ul li,
#wrapper #body #aside dl#menu dd ul li.active {
	margin-left:10px !important;
	list-style:none;
	}


#wrapper #body #aside dl#menu dd ul li a:link,
#wrapper #body #aside dl#menu dd ul li a:visited {
	padding-left:18px;
	text-decoration:none;
	background:url("style_080408_an.png") 0 center no-repeat #fff;
	}


#wrapper #body #aside dl#menu dd ul li a:hover,
#wrapper #body #aside dl#menu dd ul li a:active {
	padding-left:18px;
	text-decoration:underline;
	background:url("style_080408_an.png") -730px center no-repeat #fff;
	}


#wrapper #body #aside dl#menu dd ul li.active a {
	color:#f08;
	background:url("style_080408_an.png") -730px center no-repeat #fff;
	}


#wrapper #body #aside dl dd ul li {
	margin-left:10px !important;
	list-style:none;
	}


#wrapper #body #aside dl dd ul li a,
#wrapper #body #aside dl dd ul li span {
	padding-left:18px;
	}


#wrapper #body #aside dl dd ul li ul li {
	margin-left:15px !important;
	}


/* al 丸印 */
#wrapper #body #aside dl dd ul li span,
#wrapper #body #aside dl dd ul li a:link,
#wrapper #body #aside dl dd ul li a:visited,
#wrapper #body #aside dl dd ul li.al a:link,
#wrapper #body #aside dl dd ul li.al a:visited {
	background:url("style_080408_al.png") 0 center no-repeat #fff;
	}


#wrapper #body #aside dl dd ul li a:hover,
#wrapper #body #aside dl dd ul li a:active,
#wrapper #body #aside dl dd ul li.al a:hover,
#wrapper #body #aside dl dd ul li.al a:active {
	background:url("style_080408_al.png") -730px center no-repeat #fff;
	}


/* at 上矢印 */
#wrapper #body #aside dl dd ul li.at a:link,
#wrapper #body #aside dl dd ul li.at a:visited {
	background:url("style_080408_at.png") 0 center no-repeat #fff;
	}


#wrapper #body #aside dl dd ul li.at a:hover,
#wrapper #body #aside dl dd ul li.at a:active {
	background:url("style_080408_at.png") -730px center no-repeat #fff;
	}


/* an 右矢印 */
#wrapper #body #aside dl dd ul li.an a:link,
#wrapper #body #aside dl dd ul li.an a:visited {
	background:url("style_080408_an.png") 0 center no-repeat #fff;
	}


#wrapper #body #aside dl dd ul li.an a:hover,
#wrapper #body #aside dl dd ul li.an a:active {
	background:url("style_080408_an.png") -730px center no-repeat #fff;
	}


/* ab 左矢印 */
#wrapper #body #aside dl dd ul li.ab a:link,
#wrapper #body #aside dl dd ul li.ab a:visited {
	background:url("style_080408_ab.png") 0 center no-repeat #fff;
	}


#wrapper #body #aside dl dd ul li.ab a:hover,
#wrapper #body #aside dl dd ul li.ab a:active {
	background:url("style_080408_ab.png") -730px center no-repeat #fff;
	}




/* ↑ Wrapper → Body → Aside end ------------------------------------------ */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	clear:both;
	width:980px;
	}


#wrapper #footer .section {
	padding:20px 15px 100px;
	color:#fff;
	text-align:right;
	background:url("style_080408_footer.png") center bottom no-repeat #555;
	}


#wrapper #footer .section a:link,
#wrapper #footer .section a:visited {
	color:#fff;
	}


#wrapper #footer .section a:hover,
#wrapper #footer .section a:active {
	background-color:#f08;
	text-decoration:none;
	}


#wrapper #footer .section p {
	}


#wrapper #footer .section p.datetime {
	margin:3px 0 25px;
	}


#wrapper #footer .section ul {
	margin:3px 0;
	}


#wrapper #footer .section ul li {
	margin:0 !important;
	display:inline;
	list-style-type:none;
	}


#wrapper #footer .section address {
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */
