/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*┃　 ┏━━┓　┏┓　┏━━━━━┓　┏━━━━━┓　┏━┓　┏━━━━━┓ 　┃*/
/*┃　 ┃┏┓┃　┃┃　┃┏━━━┓┃　┃┏━━━┓┃　┣　┃　┃┏━━━┓┃ 　┃*/
/*┃　 ┃┃┃┃　┃┃　┃┃　　　┃┃　┃┃　　　┃┃　┃┏┛　┃┃　　　┗┛ 　┃*/
/*┃　 ┃┃┃┗┓┃┃　┃┗━━━┛┃　┃┃　　　┃┃　┻┛　　┃┗━━━━┓ 　┃*/
/*┃　 ┃┃┗┓┃┃┃　┃┏━━━━┛　┃┃　　　┃┃　　　　　┗━━━━┓┃ 　┃*/
/*┃　 ┃┃　┃┃┃┃　┃┃　　　　　　┃┃　　　┃┃　　　　　┏┓　　　┃┃ 　┃*/
/*┃　 ┃┃　┃┗┛┃　┃┗━━━━┓　┃┗━━━┛┃　　　　　┃┗━━━┛┃ 　┃*/
/*┃　 ┗┛　┗━━┛　┗━━━━━┛　┗━━━━━┛　　　　　┗━━━━━┛ 　┃*/
/*┃ ┏━┓　┏━┓　┏━┓┏━━━━━┓┏━━━━┓　┏┓　　　　┏━━┓　　 ┃*/
/*┃ ┃　┃　┃　┃　┃　┃┃┏━━━┓┃┃┏━━┓┃　┃┃　　　　┃┏┓┗┓　 ┃*/
/*┃ ┃　┃　┃┃┃　┃　┃┃┃　　　┃┃┃┃　　┃┃　┃┃　　　　┃┃┗┓┗┓ ┃*/
/*┃ ┃　┃　┃┃┃　┃　┃┃┃　　　┃┃┃┗━━┛┃　┃┃　　　　┃┃　┗┓┃ ┃*/
/*┃ ┗┓┗┳┛┃┗┳┛┏┛┃┃　　　┃┃┃┏┓　┏┛　┃┃　　　　┃┃　┏┛┃ ┃*/
/*┃ 　┃　┃　┃　┃　┃　┃┃　　　┃┃┃┃┗┓┗┓　┃┃　　　　┃┃┏┛┏┛ ┃*/
/*┃ 　┃　┃　┃　┃　┃　┃┗━━━┛┃┃┃　┗┓┗┓┃┗━━━┓┃┗┛┏┛　 ┃*/
/*┃ 　┗━━━┻━━━┛　┗━━━━━┛┗┛　　┗━┛┗━━━━┛┗━━┛　　 ┃*/
/*┃　　　　　　　　　　　　 ╋━━ Neo’s World ━━╋ 　　　　　　　　　　　　┃*/
/*┃　　　　　　　　　　　　　http://neo.s21.xrea.com/　　　　　　　　　　　　　┃*/
/*┃　ポケモン、マリオ、HP作成支援をはじめ、色々なテーマに取り組む新手のサイト　┃*/
/*┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫*/
/*┃　　このファイル内のスタイルシートを無断で使用、転載などはしないで下さい。　┃*/
/*┃　参考にするならいいよ。HPの掲示板かメールで使った連絡してくれると嬉しい。　┃*/
/*┣━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫*/
/*┃　┏━┳━┓　┃　メモ用のスペース。スペースにタブキーを使わない裏技発動ｗ　┃*/
/*┃　┃テ┃ン┃　┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃*/
/*┃　┣━╋━┫　┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃*/
/*┃　┃プ┃レ┃　┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃*/
/*┃　┗━┻━┛　┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃*/
/*┗━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/*基本*/
A		{text-decoration:none;}
a:hover		{text-decoration:underline overline;background-color:#E0FAFF;}
A:link		{color:blue;}
A:visited	{color:blue;}
A:active	{color:blue;}
BODY		{font-size:10pt;line-height:12pt;margin:0px;}
TABLE		{font-size:10pt;line-height:12pt;}
BR		{letter-spacing:normal;}
FORM		{margin:0px;border:1px solid #cccccc;padding:5px;}
HR		{height:1px;}
UL,OL		{margin-left:30px;}
IMG		{border:0px;}
DT		{font-weight:bold;}

/*HPデザインベース*/
H6		{color:#0066FF;font-size:16pt;font-weight:bold;margin-left:5px;}
.p1		{border-top:1px solid #0033FF;border-bottom:1px solid #0033FF;margin:5px;padding:3px;}
.p2		{width:80%;float:right;margin:0px 0px 5px 5px;border-width:2px 0px 2px 2px;border-style:solid;border-color:#0066FF;padding:10px 20px 10px 10px;}

/*HPデザイン小物*/
.d1		{padding-left:5px;border-width:0px 0px 1px 12pt;border-style:solid;border-color:#0099FF;height:12pt;font-weight:bold;}
