# Hidden .htaccess
AddHandler cgi-script htaccess

# XREA Ad
LayoutIgnoreURI *
LayoutIgnoreURI *.html
LayoutIgnoreURI *.cgi

# Error Document Redirect
ErrorDocument 403 https://neos21.net/403.html
ErrorDocument 404 https://neos21.net/404.html
ErrorDocument 500 https://neos21.net/500.html
