# Hide .htaccess File
AddHandler cgi-script htaccess

# Redirect Old URL
<If "%{HTTP_HOST} == 'neo.s21.xrea.com'">
Redirect permanent / https://neos21.net/
</If>

# No Cache
<IfModule mod_headers.c>
  <FilesMatch "¥.(html|css|xml)$">
    Header set Pragma "no-cache"
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Expires 0
  </FilesMatch>
</IfModule>

# Error Redirect
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
