# Hidden .htaccess
AddHandler cgi-script htaccess

# XREA Ad
LayoutIgnoreURI *
LayoutIgnoreURI *.html
LayoutIgnoreURI *.cgi


# Error Document Redirect
ErrorDocument 403 http://neo.s21.xrea.com/403.html
ErrorDocument 404 http://neo.s21.xrea.com/404.html
ErrorDocument 500 http://neo.s21.xrea.com/500.html
