/* http://neo-s21.hp.infoseek.co.jp:80/hpcss.css 20030402065656 */
/*リンクS*/
a{text-decoration:none;}
/*リンクG*/
/*文字サイズS*/
body{font-size:10pt;cursor : default;}
table{font-size:10pt;cursor : default;}
/*文字サイズG*/
/*HR指定S*/
HR{color : #ffff00;}
/*HR指定G*/
/*P指定S*/
P{
padding-top : 0px;
padding-left : 10px;
padding-right : 0px;
padding-bottom : 0px;
margin-top : 0px;
margin-left : 0px;
margin-right : 0px;
margin-bottom : 0px;
border-width : 0px 0px 0px 0px;}
/*P指定G*/
