@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Mewtwo777 Like            */
/*  Update : 2014-09-05                */
/*                                     */
/* =================================== */


/* ◆ Memo ==================================================================


margin : top right bottom left [margin]
padding : top right bottom left [padding]
border : top right bottom left [border]
display
position -> top right bottom left
float
clear
width -> min max
height -> min max
line-height
vertical-align
overflow
list-style : type image position [list-style]
color
background : color image repeat attachment position [background]
font : family style variant weight stretch size size-adjust [font]
text-align
text-decoration
cursor


backgorund : color image repeat attachment position ;
font : (style variant weight) size/line-height family ;
LoVe HA? : link visited hover active


#wrapper
 #xreaad
  a
   img
 #site 
  a
   span
 #menu
  ul
   li.●
   li.● active
    a
 #topicpath
  p
   a
   span.active
 #header
  h1
 #body
  .section2
   h2
   .section3
    h3
 #footer
  p.navi
   a
  p.datetime
  ul 
   li
    a
     img
  address


／＊ ◆ ？ ======= ＊／←80桁
2行
？ ｛
｝
／＊ ↑ ？ end --- ＊／←80桁
5行
／＊ ◆ ？ ======= ＊／←80桁


   ↑ Memo end -------------------------------------------------------------- */





/* ◆ Global ================================================================ */


* {
	margin:0;
	padding:0;
	background:transparent;
	font:100%/1.5 "Verdana",sans-serif;
	text-decoration:none;
}


html {
	overflow-y:scroll;
}


body {
	color:#090909;
	background-color:#fff;
}


a:link,
a:visited {
	color:#05f;
	font-weight:bold;
}


a:hover,
a:active {
	color:#f90;
	font-weight:bold;
	text-decoration:underline overline;
}


abbr,
dfn {
	border-bottom:1px dashed #666;
	font-weight:bold;
	cursor:help;
}


abbr[title]:after,
dfn[title]:after {
	content:"";
}


abbr[title]:hover:after,
dfn[title]:hover:after {
	content:" (" attr(title) ") ";
}


code,
kbd,
samp,
var {
	font-family:monospace;
}


pre,
.scroll {
	padding:10px;
	border:1px solid #999;
	width:95%;
	height:200px;
	overflow:scroll;
	font-family:monospace;
}


q {
	border-bottom:1px dashed #666;
	font-weight:bold;
}


del {
	text-decoration:line-through;
}


ins {
	text-decoration:underline;
}


img {
	border:0;
	vertical-align:bottom;
}


em,
strong {
	font-weight:bold;
}


table {
	border-collapse:collapse;
}


table caption {
	padding-bottom:5px;
	font-weight:bold;
	text-align:center;
}


table td {
	padding:5px;
	border:1px solid #07f;
	background-color:#fff;
	empty-cells:show;
}


table th {
	padding:5px;
	border:1px solid #07f;
	background-color:#e0f0ff;
	font-weight:bold;
	text-align:center;
	empty-cells:show;
}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	margin:0 auto;
	width:85%;
	min-width:940px;
	background-color:#e3fcff;
}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Xrea Ad ==================================================== */


#wrapper #xreaad {
	height:60px;
	background-color:#fff;
	text-align:right;
}


#wrapper #xreaad a,
#wrapper #xreaad a img {
	width:468px;
	height:60px;
}


/* ↑ Wrapper → Xrea Ad end ------------------------------------------------ */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	margin:-60px 0 0;
	padding:0 468px 0 25px;
	height:60px;
	background-color:#fff;
}


#wrapper #site a {
	display:block;
	width:100%;
	height:60px;
	text-decoration:none;
}


#wrapper #site a:hover {
	color:#f09;
}


#wrapper #site a span {
	display:block;
	width:100%;
	height:60px;
	line-height:60px;
	font-weight:bold;
	font-size:200%;
}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Menu ======================================================= */


#wrapper #menu {
	width:100%;
	height:40px;
	background-color:#e0ecff;
}


#wrapper #menu ul {
	margin:0 auto;
	width:660px;
	height:40px;
	list-style:none;
}


#wrapper #menu ul li {
	float:left;
	width:110px;
}


#wrapper #menu ul li a {
	display:block;
	width:110px;
	height:40px;
	line-height:40px;
	color:#333;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}


/* アクティブメニュー */
body.home    #wrapper #menu ul li.home    a,
body.about   #wrapper #menu ul li.about   a,
body.music   #wrapper #menu ul li.music   a,
body.games   #wrapper #menu ul li.games   a,
body.gallery #wrapper #menu ul li.gallery a,
body.etc     #wrapper #menu ul li.etc     a {
	color:#07f;
}


/* ホバー時 */
#wrapper #menu ul li a:hover,
body.home    #wrapper #menu ul li.home    a:hover,
body.about   #wrapper #menu ul li.about   a:hover,
body.music   #wrapper #menu ul li.music   a:hover,
body.games   #wrapper #menu ul li.games   a:hover,
body.gallery #wrapper #menu ul li.gallery a:hover,
body.etc     #wrapper #menu ul li.etc     a:hover {
	color:#f90;
	background-color:#fffff0;
}


/* ↑ Wrapper → Menu end --------------------------------------------------- */





/* ◆ Wrapper → Topic Path ================================================= */


#wrapper #topicpath {
	clear:both;
	width:100%;
}


#wrapper #topicpath p {
	padding:10px 25px;
	color:#75f;
	background-color:#eff;
}


#wrapper #topicpath p a,
#wrapper #topicpath p span.active {
	color:#75f;
	font-weight:bold;
	text-decoration:none;
}


#wrapper #topicpath p a:hover {
	text-decoration:underline;
}


/* ↑ Wrapper → Topic Path end --------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	padding:20px 25px 0;
}


#wrapper #header * {
	margin-bottom:30px;
}


#wrapper #header * * {
	margin-bottom:0;
}


#wrapper #header h1 {
	margin-bottom:10px;
	color:#08f;
	font-weight:bold;
	font-size:200%;
}


/* List */


#wrapper #header dl dt {
	padding-bottom:5px;
	font-weight:bold;
}


#wrapper #header dl dt * {
	font-weight:bold;
}


#wrapper #header li,
#wrapper #header dl dd {
	margin-left:25px;
}


#wrapper #header dl dd * {
	margin-bottom:30px !important;
}


#wrapper #header dl dd * * {
	margin-bottom:0 !important;
}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	padding:0 25px;
}


/* Section 2 */


#wrapper #body .section2 {
	padding:30px 0 0;
}


#wrapper #body .section2 h2 {
	padding-bottom:5px;
	border-bottom:1px solid #06f;
	font-weight:bold;
	font-size:140%;
}


#wrapper #body .section2 * {
	margin-bottom:30px;
}


#wrapper #body .section2 * * {
	margin-bottom:0;
}


/* Section 3 */


#wrapper #body .section2 .section3 {
}


#wrapper #body .section2 .section3 h3 {
	color:#06f;
	font-weight:bold;
	font-size:120%;
}


#wrapper #body .section2 .section3 * {
	margin-bottom:30px;
}


#wrapper #body .section2 .section3 * * {
	margin-bottom:0;
}


/* Blockquote */


#wrapper #body blockquote {
	padding:30px 30px 0;
	border:1px dashed #999;
}


#wrapper #body blockquote * {
	margin-bottom:30px !important;
}


#wrapper #body blockquote * * {
	margin-bottom:0 !important;
}


/* List */


#wrapper #body dl dt {
	padding-bottom:5px;
	font-weight:bold;
}


#wrapper #body dl dt * {
	font-weight:bold;
}


#wrapper #body li,
#wrapper #body dl dd {
	margin-left:25px;
}


#wrapper #body dl dd * {
	margin-bottom:30px !important;
}


#wrapper #body dl dd * * {
	margin-bottom:0 !important;
}


#wrapper #body dl dd dl dd * {
	margin-bottom:30px !important;
}


#wrapper #body dl dd dl dd * * {
	margin-bottom:0 !important;
}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	position:relative;
	background-color:#e0ecff;
}


#wrapper #footer p.navi {
	margin:30px 0 0;
	padding:30px 25px 0;
	text-align:right;
}


#wrapper #footer p.datetime {
	padding:0 25px 30px;
	text-align:right;
}


#wrapper #footer ul {
	position:absolute;
	top:30px;
	left:25px;
	list-style:none;
}


#wrapper #footer ul li {
	display:inline;
}


#wrapper #footer address {
	padding:30px 0;
	background-color:#fff;
	text-align:center;
}


/* ↑ Wrapper → Footer end ------------------------------------------------- */





/* ◆ Etc =================================================================== */


/* Google AdSense */
#wrapper #adsense1,
#wrapper #adsense2 {
	margin:0 auto;
	padding:0 25px;
	text-align:center;
}


/* TextExchange OrangePark TrafficExchange */
#wrapper table#banners caption,
#wrapper table#banners thead,
#wrapper table#banners tfoot {
	display:none;
}


/* ↑ Etc end --------------------------------------------------------------- */
