@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Print                     */
/*  Update : 2014-09-05                */
/*                                     */
/* =================================== */





/* ◆ Print ================================================================= */


@media print {


/* ◆ Global ================================================================ */


* {
	margin:0;
	padding:0;
	background:transparent;
	font:12pt/1.8 "Verdana",sans-serif;
	text-decoration:none;
}


body {
	color:#000;
	background-color:#fff;
}


a {
	color:#00f;
	text-decoration:underline;
}


dl dt,
dl dt *,
h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
table caption,
table caption *,
table th,
table th * {
	font-weight:bold;
}


abbr,
dfn {
	border-bottom:1px dashed #666;
	font-weight:bold;
}


abbr:after,
dfn:after {
	content:" ( " attr(title) " ) ";
}


code,
kbd,
pre,
samp,
var {
	font-family:monospace;
}


del {
	text-decoration:line-through;
}


em,
strong {
	font-weight:bold;
}


img {
	border:0;
	vertical-align:bottom;
}


ins {
	text-decoration:underline;
}


li {
	margin:0 0 0 2em !important;
}


li li {
	margin:0 0 0 1.5em !important;
}


pre,
.scroll {
	width:auto;
	height:auto;
	overflow:auto;
}


table {
	border:1px solid #000;
}


table caption,
table th {
	text-align:center;
}


table td,
table th {
	padding:5px;
	border:1px solid #000;
}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Xrea Ad ==================================================== */


#wrapper #xreaad {
	display:none;
}


/* ↑ Wrapper → Xrea Ad end ------------------------------------------------ */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
}


#wrapper #site a {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}


#wrapper #site a span {
}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Menu ======================================================= */


#wrapper #menu {
	display:none;
}


/* ↑ Wrapper → Menu end --------------------------------------------------- */





/* ◆ Wrapper → Topic Path ================================================= */


#wrapper #topicpath {
	margin:0 0 25px;
}


/* ↑ Wrapper → Topic Path end --------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	margin:0 0 25px;
}


#wrapper #header h1 {
	font-size:175%;
}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
}


/* div.section2 の下マージン */
#wrapper #body .section2 {
	margin-bottom:70px;
}


/* div.section2 のブロック要素の下マージン */
#wrapper #body .section2 * {
	margin-bottom:25px;
}


/* div.section2 の h2 要素 */
#wrapper #body .section2 h2 {
	font-size:130%;
}


/* div.section2 のインライン要素の下マージンとする
   dl要素辺りが例外なので、後で指定し直してある */
#wrapper #body .section2 * * {
	margin:0;
}


/* div.section3 の下マージン */
#wrapper #body .section2 .section3 {
	margin-bottom:50px;
}


/* div.section3 のブロック要素の下マージン */
#wrapper #body .section2 .section3 * {
	margin-bottom:25px;
}


/* h3要素 */
#wrapper #body .section2 .section3 h3 {
	font-size:110%;
}


/* div.section3 のインライン要素の下マージンとする
   dl要素辺りが例外なので、後で指定し直す */
#wrapper #body .section2 .section3 * * {
	margin:0;
}


#wrapper #body dl {
}


/* dt要素の基本スタイル */
#wrapper #body dl dt,
#wrapper #body dl dd dl dt {
	margin-bottom:7px !important;
	padding:3px 0 3px 0.5em;
	border-left:1.5em solid #000;
}


/* dd要素の下・左マージン */
#wrapper #body dl dd,
#wrapper #body dl dd dl dd {
	margin:0 0 30px 2em !important;
}


/* dd要素のブロック要素の下マージン */
#wrapper #body dl dd * {
	margin-bottom:25px !important;
}


/* dd要素のインライン要素の下マージン */
#wrapper #body dl dd * * {
	margin:0 !important;
}


/* dd要素内のli要素 */
#wrapper #body dl dd li {
	margin:0 0 3px 2em !important;
}


#wrapper #body dl dd li li {
	margin:0 0 3px 1.5em !important;
}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Body → Aside ============================================== */


#wrapper #body #aside {
	display:none;
}


/* ↑ Wrapper → Body → Aside end ------------------------------------------ */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	border-top:1px solid #666;
	padding:8px 0 0;
}


#wrapper #footer p.navi {
	display:none;
}


#wrapper #footer ul {
	display:none;
}


/* ↑ Wrapper → Footer end ------------------------------------------------- */





/* ◆ Class ================================================================= */


.hidden {
	display:none;
}


/* ↑ Class end ------------------------------------------------------------- */


}


/* ↑ Print end ------------------------------------------------------------- */
