@import url("https://cdn.jsdelivr.net/npm/@neos21/neos-normalize@2.0.1/neos-normalize.min.css");

:root {
  --nn-colour-base: #202224;
  --nn-colour-link-base: #0060ff;
}

body {
  margin: 1rem;
}

:not(pre) > code {
  color: #f07;
}
