@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */


/* =========== Neo's World =========== */
/*                                     */
/*  Author : Neo                       */
/*  E-Mail : neo@s21.xrea.com          */
/*  Web    : Neo's World               */
/*  URL    : http://neo.s21.xrea.com/  */
/*  Style  : Princess                  */
/*                                     */
/* =================================== */


/* ◆ Memo ==================================================================


margin : top right bottom left [margin]
padding : top right bottom left [padding]
border : top right bottom left [border]
display
position -> top right bottom left
float
clear
width -> min max
height -> min max
line-height
vertical-align
overflow
list-style : type image position [list-style]
color
background : color image repeat attachment position [background]
font : family style variant weight stretch size size-adjust [font]
text-align
text-decoration
cursor


backgorund : color image repeat attachment position ;
font : (style variant weight) size/line-height family ;
LoVe HA? : link visited hover active


#wrapper
 #xreaad
  a
   img
 #site 
  a
   span
 #menu
  ul
   li.●
   li.● active
    a
 #topicpath
  p
   a
   span.active
 #header
  h1
 #body
  .section2
   h2
   .section3
    h3
 #footer
  p.navi
   a
  p.datetime
  ul 
   li
    a
     img
  address


／＊ ◆ ？ ======= ＊／←80桁
2行
？ ｛
	｝
／＊ ↑ ？ end --- ＊／←80桁
5行
／＊ ◆ ？ ======= ＊／←80桁


   ↑ Memo end -------------------------------------------------------------- */





/* ◆ Global ================================================================ */


* {
	margin:0;
	padding:0;
	background:transparent;
	font:100%/1.5 "Verdana",sans-serif;
	text-decoration:none;
	}


/* 色々なブラウザでスクロールバーを常に表示させる */
html {
	margin-bottom:1px;
	height:100%;
	}


body {
	color:#111;
	background:#ece url("style_090819_bg.png") top center repeat-x;
	}


a:link,
a:visited {
	color:#f08;
	font-weight:bold;
	text-decoration:underline;
	}


a:hover,
a:active {
	color:#06f;
	font-weight:bold;
	text-decoration:underline;
	}


abbr,
dfn {
	border-bottom:1px dashed #555;
	font-weight:bold;
	cursor:help;
	}


abbr[title]:after,
dfn[title]:after {
	content:"";
	}


abbr[title]:hover:after,
dfn[title]:hover:after {
	content:" (" attr(title) ") ";
	}


code,
kbd,
samp,
var {
	font-family:monospace;
	}


pre,
.scroll {
	padding:10px;
	border:1px solid #bbb;
	width:95%;
	height:150px;
	overflow:scroll;
	font-family:monospace;
	}


q {
	border-bottom:1px dashed #555;
	font-weight:bold;
	}


del {
	text-decoration:line-through;
	}


ins {
	text-decoration:underline;
	}


img {
	margin:0 !important;
	border:0;
	vertical-align:bottom;
	}


em,
strong {
	font-weight:bold;
	}


table caption {
	padding-bottom:4px;
	font-weight:bold;
	text-align:center;
	}


table td {
	padding:4px;
	border:1px solid #e8d;
	}


table th {
	padding:4px;
	border:1px solid #e8d;
	background-color:#fde;
	font-weight:bold;
	text-align:center;
	}


/* ↑ Global end ------------------------------------------------------------ */





/* ◆ Wrapper =============================================================== */


#wrapper {
	margin:0 auto;
	width:940px;
	background:#fff url("style_090819_wrapper.png") top center no-repeat;
	}


/* ↑ Wrapper end ----------------------------------------------------------- */





/* ◆ Wrapper → Xrea Ad ==================================================== */


#wrapper #xreaad {
	padding-top:40px;
	height:60px;
	text-align:right;
	}


#wrapper #xreaad a {
	width:468px;
	height:60px;
	}


#wrapper #xreaad a img {
	width:468px;
	height:60px;
	}


/* ↑ Wrapper → Xrea Ad end ------------------------------------------------ */





/* ◆ Wrapper → Site ======================================================= */


#wrapper #site {
	margin:-60px 0 10px;
	width:310px;
	height:60px;
	}


#wrapper #site a {
	display:block;
	width:310px;
	height:60px;
	}


#wrapper #site a span {
	display:none;
	}


/* ↑ Wrapper → Site end --------------------------------------------------- */





/* ◆ Wrapper → Menu ======================================================= */


#wrapper #menu {
	width:600px;
	margin:0 auto;
	}


#wrapper #menu ul {
	list-style:none;
	}


#wrapper #menu ul li {
	float:left;
	width:100px;
	}


#wrapper #menu ul li a {
	display:block;
	width:100px;
	height:40px;
	line-height:40px;
	color:#222;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	}


/* メニューのホバー時 */
#wrapper #menu ul li a:hover {
	color:#f08;
	background-color:#fef;
	}

/* アクティブメニュー */
body.home    #wrapper #menu ul li.home    a,
body.about   #wrapper #menu ul li.about   a,
body.music   #wrapper #menu ul li.music   a,
body.games   #wrapper #menu ul li.games   a,
body.gallery #wrapper #menu ul li.gallery a,
body.etc     #wrapper #menu ul li.etc     a {
	color:#f08;
	}


/* アクティブメニューのホバー時 */
body.home    #wrapper #menu ul li.home    a:hover,
body.about   #wrapper #menu ul li.about   a:hover,
body.music   #wrapper #menu ul li.music   a:hover,
body.games   #wrapper #menu ul li.games   a:hover,
body.gallery #wrapper #menu ul li.gallery a:hover,
body.etc     #wrapper #menu ul li.etc     a:hover {
	color:#222;
	background-color:#fef;
	}


/* ↑ Wrapper → Menu end --------------------------------------------------- */





/* ◆ Wrapper → Topic Path ================================================= */


#wrapper #topicpath {
	clear:both;
	width:940px;
	}


#wrapper #topicpath p {
	color:#a39;
	padding:8px 5px 8px 25px;
	border-top:1px solid #ebd;
	border-bottom:1px solid #ebd;
	background-color:#fde;
	}


#wrapper #topicpath p a,
#wrapper #topicpath p span.active {
	color:#a39;
	text-decoration:none;
	font-weight:normal;
	}


#wrapper #topicpath p a:hover {
	text-decoration:underline;
	}


/* ↑ Wrapper → Topic Path end --------------------------------------------- */





/* ◆ Wrapper → Header ===================================================== */


#wrapper #header {
	padding:20px 25px 0;
	}


#wrapper #header * {
	margin-bottom:30px;
	}


#wrapper #header * * {
	margin-bottom:0;
	}


#wrapper #header h1 {
	color:#f08;
	font-weight:bold;
	font-size:200%;
	margin-bottom:10px;
	}


/* List */


#wrapper #header dl dt {
	padding-bottom:5px;
	font-weight:bold;
	}


#wrapper #header dl dt * {
	font-weight:bold;
	}


#wrapper #header li,
#wrapper #header dl dd {
	margin-left:25px;
	}


#wrapper #header dl dd * {
	margin-bottom:30px !important;
	}


#wrapper #header dl dd * * {
	margin-bottom:0 !important;
	}


/* ↑ Wrapper → Header end ------------------------------------------------- */





/* ◆ Wrapper → Body ======================================================= */


#wrapper #body {
	padding:0 25px;
	}


/* Section 2 */


#wrapper #body .section2 {
	padding:30px 0 0;
	}

#wrapper #body .section2 h2 {
	padding-bottom:5px;
	font-weight:bold;
	font-size:140%;
	border-bottom:1px solid #f08;
	}


#wrapper #body .section2 * {
	margin-bottom:30px;
	}


#wrapper #body .section2 * * {
	margin-bottom:0;
	}


/* Section 3 */


#wrapper #body .section2 .section3 {
	}


#wrapper #body .section2 .section3 h3 {
	color:#c07;
	font-weight:bold;
	font-size:120%;
	}


#wrapper #body .section2 .section3 * {
	margin-bottom:30px;
	}


#wrapper #body .section2 .section3 * * {
	margin-bottom:0;
	}


/* Blockquote */


#wrapper #body blockquote {
	padding:30px 30px 0;
	border:1px dashed #555;
	}


#wrapper #body blockquote * {
	margin-bottom:30px !important;
	}


#wrapper #body blockquote * * {
	margin-bottom:0 !important;
	}


/* List */


#wrapper #body dl dt {
	padding-bottom:5px;
	font-weight:bold;
	}


#wrapper #body dl dt * {
	font-weight:bold;
	}


#wrapper #body li,
#wrapper #body dl dd {
	margin-left:25px;
	}


#wrapper #body dl dd * {
	margin-bottom:30px !important;
	}


#wrapper #body dl dd * * {
	margin-bottom:0 !important;
	}


#wrapper #body dl dd dl dd * {
	margin-bottom:30px !important;
	}


#wrapper #body dl dd dl dd * * {
	margin-bottom:0 !important;
	}


/* ↑ Wrapper → Body end --------------------------------------------------- */





/* ◆ Wrapper → Footer ===================================================== */


#wrapper #footer {
	position:relative;
	}


#wrapper #footer p.navi {
	margin:30px 25px 0;
	padding:30px 0 0;
	border-top:1px solid #bbb;
	text-align:right;
	}


#wrapper #footer p.datetime {
	padding:0 25px;
	text-align:right;
	}


#wrapper #footer ul {
	position:absolute;
	top:30px;
	left:25px;
	list-style:none;
	}


#wrapper #footer ul li {
	display:inline;
	}


#wrapper #footer address {
	padding:35px 0 20px; /* 15px + 20px = 35px */
	text-align:center;
	background:#ece url("style_090819_footer.png") top center no-repeat;
	}


/* ↑ Wrapper → Footer end ------------------------------------------------- */





/* ◆ Etc =================================================================== */


/* Google AdSense */
#wrapper #adsense1,
#wrapper #adsense2 {
	margin:0 auto;
	padding:0 25px;
	text-align:center;
	}


/* TextExchange OrangePark TrafficExchange */
#wrapper table#banners caption,
#wrapper table#banners thead,
#wrapper table#banners tfoot {
	display:none;
	}


/* ↑ Etc end --------------------------------------------------------------- */
