@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */

/* ==============================================================

   Author：Neo
   E-Mail：neo@s21.xrea.com
   Web   ：╋━━ Neo's World ━━╋
   URL   ：http://neo.s21.xrea.com/

   ==============================================================
   Style
   ==============================================================

   Memo

    01. Display
    02. Position :: Top -> Left
    03. Side :: Margin -> Padding
    04. Box :: Width -> Height
    05. Color
    06. Font :: Size -> Weight -> Style -> Family
    07. Text :: Align -> Decoration -> Indent
    08. Line :: Height
    09. Background :: Image -> Position.Repeat.attachment -> Color
    10. Border :: Top -> Right -> Bottom -> Left
    11. Etc

   ============================================================== */


* {
	margin:0;
	padding:0;
	color:#121;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	background:transparent;
	}

body {
	width:100%;
	height:100%;
	background-image:url(1.png);
	background-position:right bottom;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color:#fff;
	}

a:link {
	color:#00e;
	}

a:hover {
	color:#33f;
	text-decoration:underline;
	}

a:active {
	color:#060;
	}

a:visited {
	color:#00c;
	}

img {
	border:0;
	vertical-align:bottom;
	}

p, h3, h4, h5, h6, dl, ul, ol, form, table, blockquote, .section div {
	margin-bottom:1em;
	}

h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *, dt, dt * {
	font-weight:bold;
	}

li, dd {
	margin-left:2em;
	}

dd, ul ul, ol ol, ul ol, ol ul {
 	margin-bottom:0.5em;
	}

ul ul, ol ol, ul ol, ol ul {
	margin-top:0;
	margin-left:0;
	}

input, select, textarea {
	border:1px solid #999;
	}

select option {
	border:0;
	}

h3 {
	margin:-1em -1em 1em;
	padding:0.5em 1em;
	color:#009;
	border-bottom:1px dashed #039;
	background-color:#f3f6fc;
	}

h4 {
	padding-bottom:0.3em;
	color:#00a;
	border-bottom:1px solid #039;
	}

h5 {
	padding-bottom:0.3em;
	color:#00b;
	border-bottom:1px solid #36c;
	}

h6 {
	padding-bottom:0.3em;
	color:#00c;
	border-bottom:1px solid #69f;
	}

blockquote {
	margin-left:2em;
	padding:1em;
	background-color:#ffe;
	border:1px solid #cc0;
	}

em {
	color:#060;
	font-weight:bold;
	}

strong {
	color:#f00;
	font-weight:bold;
	}

em strong {
	color:#f60;
	font-weight:bold;
	}

strong em {
	color:#06f;
	font-weight:bold;
	}

em em {
	}

strong strong {
	}

del {
	text-decoration:line-through;
	}

ins {
	text-decoration:underline;
	}

dfn {
	margin:0 1px;
	padding:0 2px;
	font-weight:bold;
	}

code {
	margin:0 1px;
	padding:0 2px;
	color:#f00;
	}

q {
	margin:0 1px;
	padding:0 2px;
	color:#060;
	border:1px solid #060;
	background-color:#dfd;
	}

abbr, acronym {
	margin:0 1px;
	padding:0 2px;
	color:#06f;
	}

table {
	border:0;
	border-collapse:separate;
	border-spacing:2px;
	empty-cells:show;
	}

caption {
	caption-side:top;
	}

caption, td, th {
	padding:0.2em;
	border-top:1px solid #36c;
	border-right:1px solid #039;
	border-bottom:1px solid #039;
	border-left:1px solid #36c;
	}

caption, th {
	font-weight:bold;
	text-align:center;
	background-color:#f3f6fc;
	}


/* ============================================================== */


#head {
	position:absolute;
	top:10px;
	left:10px;
	width:220px;
	height:60px;
	z-index:1;
	}

#head h1 {
	}

#head h1 a {
	display:block;
	width:220px;
	height:60px;
	text-decoration:none;
	text-indent:-100000px;
	background-image:url(2.png);  /* 保管庫注釈 : 本画像はサルベージできなかった */
	background-repeat:no-repeat;
	}

#head h2, #head h2 a {
	display:none;
	}


/* ============================================================== */


#ad {
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:240px;
	}

#ad p {
	margin-bottom:0;
	}

#ad p a {
	}

#ad p a img {
	width:468px;
	height:60px;
	}


/* =============================================================== */


#navi {
	margin-right:10px;
	margin-left:240px;
	}

#navi ul {
	margin-bottom:0;
	padding:0.5em 0 0.5em 1em;
	line-height:1.2;
	background-color:#f3f6fc;
	border-top:1px solid #36c;
	border-right:1px solid #039;
	border-bottom:1px dashed #039;
	border-left:1px solid #36c;
	list-style-type:none;
	}

#navi ul li {
	display:inline;
	margin-left:0;
	padding-right:0.5em;
	}

#navi ul li a {
	font-weight:bold;
	}

#navi ul li #act {
	color:#d00;
	}


/* ============================================================== */


#body {
	margin-right:10px;
	margin-left:240px;
	}

#body h2 {
	margin-bottom:20px;
	padding:1em 0.5em 1em 1em;
	color:#333;
	border-right:1px solid #039;
	border-bottom:1px solid #039;
	border-left:1px solid #36c;
	}

#body h2 span {
	font-size:120%;
	font-weight:bold;
	}


/* =============================================================== */


.section {
	margin-bottom:20px;
	padding:1em 1em 0;
	line-height:1.5;
	border-top:1px solid #36c;
	border-right:1px solid #039;
	border-bottom:1px solid #039;
	border-left:1px solid #36c;
	}

.bg {
	/*
	background-image:url("◆.png");
	background-position:right bottom;
	background-repeat:no-repeat;
	*/
	}


/* ============================================================== */


#menu {
	position:absolute;
	top:80px;
	left:10px;
	width:220px;
	line-height:1.2;
	}

#menu h2{
	padding:0.5em;
	font-weight:bold;
	background-color:#f3f6fc;
	border-top:1px solid #36c;
	border-right:1px solid #039;
	border-bottom:1px dashed #039;
	border-left:1px solid #36c;
	}

#menu ul {
	margin-bottom:0;
	padding:0.5em;
	background-color:#fff;
	border-right:1px solid #039;
	border-bottom:1px solid #039;
	border-left:1px solid #36c;
	}

#menu ul li {
	margin-left:1.3em;
	}

#menu ul li ul {
	padding:0;
	border:0;
	}

#menu ul li ul li {
	margin-left:0.9em;
	}


/* ============================================================== */


#foot {
	margin-right:10px;
	margin-left:240px;
	padding-top:0.5em;
	padding-bottom:2em;
	text-align:right;
	border-top:1px solid #039;
	}

#foot ul {
	margin:0 0 0.5em auto;
	list-style-type:none;
	}

#foot ul li {
	display:inline;
	margin-left:0.5em;
	}

#foot address {
	}


/* ============================================================== */

.note {
	padding:1em;
	background-color:#eef;
	border:1px solid #00c;
	}

.sample {
	padding:1em;
	background-color:#efe;
	border:1px solid #0c0;
	}

.mistakesample {
	padding:1em;
	background-color:#fee;
	border:1px solid #c00;
	}

.floatlist {
	list-style-type:none;
	}

.floatlist li {
	display:inline;
	margin-left:0;
	padding:0 0.3em;
	border-right:1px solid #039;
	}

.history {
	height:100px;
	overflow:scroll;
	}

.linkeachother {
	list-style-type:circle;
	}

.linkofficial {
	list-style-type:square;
	}

.linkgeneral {
	list-style-type:disc;
	}

.atten1	{
	font-weight:bold;
	font-size:large;
	}

.atten2 {
	font-weight:bold;
	font-size:x-large;
	}

.atten3	{
	font-weight:bold;
	font-size:xx-large;
	}

.clear	{
	clear:both;
	}
