@charset "UTF-8";  /* 保管庫注釈 : Shift_JIS */

/* ==============================================================

   Author：Neo
   E-Mail：neo@s21.xrea.com
   Web   ：╋━━ Neo's World ━━╋
   URL   ：http://neo.s21.xrea.com/

   ==============================================================
   Print
   ============================================================== */

* {
	margin:0;
	padding:0;
	color:#000;
	font-size:12pt;
	line-height:150%;
	background-color:#fff;
	}

a {
	color:#00f;
	text-decoration:underline;
	}

#head h2,
#ad,
#navi,
#menu,
#foot ul {
	display:none;
	}
